﻿@model FaceCheckin.Models.DB.Student
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="MyModalTitle">Thêm mới Sinh viên</h4>
</div>
<style>
    .modal .modal-dialog {
        width: 40%;
    }
</style>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "CreateStudent" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-body">

        <div class="form-horizontal">
            @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
            @*<div class="form-group cus">
                <label class="control-label">Thuộc khoa</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-sitemap"></i></span>
                    <select id="ddlFacu" class="form-control" onchange="getDeptList()">
                        @foreach (var item in ViewBag.FacuList)
                        {
                            <text>
                                <option value="@item.idFaculty">@item.FacultyName</option>
                            </text>
                        }

                    </select>
                </div>
                </div>
            <div class="form-group cus">
                <label class="control-label">Thuộc bộ môn</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-list-alt"></i></span>
                    <select id="ddlDept" class="form-control" onchange="getClassList()">
                        @foreach (var item in ViewBag.DeptList)
                        {
                            <text>
                                <option value="@item.idDepartment">@item.DepartmentName</option>
                            </text>
                        }
                    </select>
                </div>
            </div>*@
            <div class="form-group cus">
                <label class="control-label">Thuộc lớp</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-list-ul"></i></span>
                   @Html.TextBoxFor(m => m.ClassName, new { @class = "form-control", @id = "clss",@readonly=true/*, @Value = @TempData["item1"]*/ })
                </div>
                @Html.ValidationMessageFor(m => m.ClassName, "", new { @class = "text-danger" })

            </div>
            @Html.HiddenFor(m=>m.idClass)
            <div class="form-group cus">
                <label class="control-label">Mã sinh viên</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-list-ol"></i></span>
                    @Html.TextBoxFor(m => m.idStudent, new { @class = "form-control", @placeholder = "Mã sinh viên" })
                </div>
                @Html.ValidationMessageFor(m => m.idStudent, "", new { @class = "text-danger" })

            </div>

            <div class="form-group cus">
                <label class="control-label">Tên sinh viên</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-align-center"></i></span>
                    @Html.TextBoxFor(m => m.S_Name, new { @class = "form-control", @placeholder = "Tên sinh viên" })
                </div>
                @Html.ValidationMessageFor(m => m.S_Name, "", new { @class = "text-danger" })

            </div>
            <div class="form-group cus">
                <label class="control-label">Ngày sinh</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.TextBoxFor(m => m.S_Dob, new { @class = "form-control", style = "width:100%", type = "date" })
                </div>
                @Html.ValidationMessageFor(m => m.S_Dob, "", new { @class = "text-danger" })

            </div>
            <div class="form-group cus">
                @Html.LabelFor(m => m.S_Email, htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                    @Html.TextBoxFor(m => m.S_Email, new { @class = "form-control", @placeholder = "Email" })
                </div>
                @Html.ValidationMessageFor(m => m.S_Email, "", new { @class = "text-danger" })

            </div>
            <div class="form-group cus">
                @Html.LabelFor(m => m.S_Phone, htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                    @Html.TextBoxFor(m => m.S_Phone, new { @class = "form-control", @placeholder = "Số điện thoại" })
                </div>
                @Html.ValidationMessageFor(m => m.S_Phone, "", new { @class = "text-danger" })

            </div>

        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
        <input type="submit" class="btn btn-primary" value="Thêm mới" id="btnSubmit" />
    </div>
}

<script>
    $(document).ready(function () {
        //getDeptList();
        $.validator.unobtrusive.parse('#CreateStudent');
        $("#btnSubmit").click(function () {
            if (!$("#CreateStudent").valid()) {
                return false;
            }
        });
    });
    //function getDeptList() {
    //    //debugger;
    //    var idFaculty = $("#ddlFacu").val();
    //    $.ajax
    //    ({
    //        url: '/Student/getDeptList',
    //        type: 'POST',
    //        datatype: 'application/json',
    //        contentType: 'application/json',
    //        data: JSON.stringify({
    //            id: idFaculty
    //        }),
    //        success: function (result) {
    //            $("#ddlDept").html("");
    //            $.each($.parseJSON(result), function (i, dept) {
    //                $("#ddlDept").append($('<option></option>').val(dept.idDepartment).html(dept.DepartmentName))
    //            })
    //            getClassList();
    //        },
    //        error: function () {
    //            alert("Whooaaa! Something went wrong..")
    //        },
    //    });
    //}
    //function getClassList() {
    //    //debugger;
    //    var idDepartment = $("#ddlDept").val();
    //    $.ajax
    //    ({
    //        url: '/Student/getClassList',
    //        type: 'POST',
    //        datatype: 'application/json',
    //        contentType: 'application/json',
    //        data: JSON.stringify({
    //            id: idDepartment
    //        }),
    //        success: function (result) {
    //            $("#ddlClass").html("");
    //            $.each($.parseJSON(result), function (i, dept) {
    //                $("#ddlClass").append($('<option></option>').val(dept.idClass).html(dept.ClassName))
    //            })
    //        },
    //        error: function () {
    //            alert("Whooaaa! Something went wrong..")
    //        },
    //    });
    //}
</script>
