﻿@model FaceCheckin.Models.ViewModels.StudentViewModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="MyModalTitle">Chỉnh sửa thông tin Sinh viên</h4>
</div>
<style>
    .modal .modal-dialog {
        width: 40%;
    }
</style>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "EditStudent" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-body">
        <div class="form-horizontal">
            @Html.HiddenFor(m => m.Student.idStudent)

            @*<div class="form-group cus">
                <label class="control-label">Thuộc khoa</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-sitemap"></i></span>
                    <select id="ddlFacu" class="form-control" onchange="getDeptList()">
                        @foreach (var item in ViewBag.FacuList)
                        {
                            <text>
                                <option value="@item.idFaculty">@item.FacultyName</option>
                            </text>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group cus">
                <label class="control-label">Thuộc bộ môn</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-list-alt"></i></span>
                    <select id="ddlDept" class="form-control" onchange="getClassList()">
                        @foreach (var item in ViewBag.DeptList)
                        {
                            <text>
                                <option value="@item.idDepartment">@item.DepartmentName</option>
                            </text>
                        }
                    </select>
                </div>
            </div>*@
            <div class="form-group cus">
                <label class="control-label">Thuộc lớp</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-list-ul"></i></span>
                    @Html.DropDownListFor(model => model.Student.idClass, (SelectList)ViewBag.ClassList, new { @class = "form-control", @id = "ddlClass", @style = "width:70%",@disabled="disabled" }) &nbsp;&nbsp;&nbsp;
                    @*<input type="checkbox" id="chkchuyenlop" style="margin-top:10px">&nbsp;&nbsp;Chuyển lớp*@
                    @Html.CheckBoxFor(model => model.chuyenlop, new { @id = "chkchuyenlop", @style = "margin-top:10px" })&nbsp;&nbsp;Chuyển lớp
                </div>
                @Html.ValidationMessageFor(m => m.Student.idClass, "", new { @class = "text-danger" })

            </div>
            <div class="form-group cus">
                <label class="control-label">Mã sinh viên</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-list-ol"></i></span>
                    @Html.TextBoxFor(m => m.Student.idStudent, new { @class = "form-control", @placeholder = "Mã sinh viên",@readonly="true" })
                </div>
                @Html.ValidationMessageFor(m => m.Student.idStudent, "", new { @class = "text-danger" })

            </div>

            <div class="form-group cus">
                <label class="control-label">Tên sinh viên</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-align-center"></i></span>
                    @Html.TextBoxFor(m => m.Student.S_Name, new { @class = "form-control", @placeholder = "Tên sinh viên" })
                </div>
                @Html.ValidationMessageFor(m => m.Student.S_Name, "", new { @class = "text-danger" })

            </div>
            <div class="form-group cus">
                <label class="control-label">Ngày sinh</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.TextBoxFor(m => m.Student.S_Dob, Model.Student.S_Dob.HasValue ? Model.Student.S_Dob.Value.ToShortDateString() : null, new { @class = "form-control", style = "width:100%", @id = "datepicker" })
                </div>
                @Html.ValidationMessageFor(m => m.Student.S_Dob, "", new { @class = "text-danger" })

            </div>
            <div class="form-group cus">
                @Html.LabelFor(m => m.Student.S_Email, htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                    @Html.TextBoxFor(m => m.Student.S_Email, new { @class = "form-control", @placeholder = "Email" })
                </div>
                @Html.ValidationMessageFor(m => m.Student.S_Email, "", new { @class = "text-danger" })

            </div>
            <div class="form-group cus">
                @Html.LabelFor(m => m.Student.S_Phone, htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                    @Html.TextBoxFor(m => m.Student.S_Phone, new { @class = "form-control", @placeholder = "Số điện thoại" })
                </div>
                @Html.ValidationMessageFor(m => m.Student.S_Phone, "", new { @class = "text-danger" })

            </div>

        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
        <input type="submit" class="btn btn-primary" value="Lưu thay đổi" id="btnSubmit" />
    </div>
}
<script>

    $(document).ready(function () {
        //getDeptList();
        $("#datepicker").datepicker({ format: 'dd/mm/yyyy' });
        $.validator.methods.date = function (value, element) {
            Globalize.culture("en-AU");
            return this.optional(element) || Globalize.parseDate(value) !== null;
        }
        $.validator.unobtrusive.parse('#EditStudent');
        $("#btnSubmit").click(function () {
            if (!$("#EditStudent").valid()) {
                return false;
            }
        });
        $("#chkchuyenlop").click(function () {
            if ($(this).is(":checked")) {
                $("#ddlClass").prop("disabled", false);
            } else {
                $("#ddlClass").prop("disabled", true);
            }
        });
    });
    function getDeptList() {
        var idFaculty = $("#ddlFacu").val();
        $.ajax
        ({
            url: '/Student/getDeptList',
            type: 'POST',
            datatype: 'application/json',
            contentType: 'application/json',
            data: JSON.stringify({
                id: idFaculty
            }),
            success: function (result) {
                $("#ddlDept").html("");
                $.each($.parseJSON(result), function (i, dept) {
                    $("#ddlDept").append($('<option></option>').val(dept.idDepartment).html(dept.DepartmentName))
                })
                getClassList();
            },
            error: function () {
                alert("Whooaaa! Something went wrong..")
            },
        });
    }
    function getClassList() {
        var idDepartment = $("#ddlDept").val();
        $.ajax
        ({
            url: '/Student/getClassList',
            type: 'POST',
            datatype: 'application/json',
            contentType: 'application/json',
            data: JSON.stringify({
                id: idDepartment
            }),
            success: function (result) {
                $("#ddlClass").html("");
                $.each($.parseJSON(result), function (i, dept) {
                    $("#ddlClass").append($('<option></option>').val(dept.idClass).html(dept.ClassName))
                })
            },
            error: function () {
                alert("Whooaaa! Something went wrong..")
            },
        });
    }
</script>
