﻿@model FaceCheckin.Models.ViewModels.StudentViewModel

@{
    ViewBag.Title = "Quản lý Sinh viên";
    ViewBag.Header = "Danh sách Sinh viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="MyModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="MyModalContent"></div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="form-group">
    <label class="control-label">Thuộc khoa</label>
    <select id="ddlFacu" class="form-control" style="width:30%" onchange="getDeptList()">
        @foreach (var item in ViewBag.FacuList)
        {
            <text>
                <option value="@item.idFaculty">@item.FacultyName</option>
            </text>
        }

    </select>
</div>
<div class="form-group">
    <label class="control-label">Thuộc bộ môn</label>
    @Html.DropDownListFor(m => m.Student.Class.Departments,
       new SelectList(Enumerable.Empty<SelectListItem>(), "idDepartment", "DepartmentName"),
                                new { @class = "form-control", style = "width:30%", @id = "ddlDept", @onchange = "getClassList()" })
    @Html.ValidationMessageFor(m => m.Student.Class.Departments, "", new { @class = "text-danger" })
</div>
<div class="form-group">
    <label class="control-label">Thuộc lớp</label>
    @Html.DropDownListFor(m => m.Student.Classes,
       new SelectList(Enumerable.Empty<SelectListItem>(), "idClass", "ClassName"),
                                         new { @class = "form-control", style = "width:30%", @id = "ddlClass" })
    @Html.ValidationMessageFor(m => m.Student.Classes, "", new { @class = "text-danger" })
</div>
<input type="hidden" id="project-id" />
@*<p>
    <button id="btncr" title="Thêm mới sinh viên" class="btn btn-primary" style="text-align:right" >&nbsp;&nbsp;Thêm mới sinh viên</button>
</p>*@
<p>
    <div class="btn-group">
        <button type="button" class="btn btn-primary">Thêm sinh viên vào lớp</button>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            @*<li><button id="btncr" title="Thêm từng sinh viên" style="text-align:right">Thêm từng sinh viên</button></li>*@
            <li><a id="btncr" href="#">Thêm từng sinh viên</a></li>
            <li>@Html.ActionLink("Nhập bằng Excel", "AddListStudentToClassFromExcel", null, new { data_modal = "" })</li>
        </ul>
    </div>
</p>
<br />
<div>
    <table id="tblStudents" style="width:100%" class="table table-striped table-hover table-bordered table-responsive">
        <thead>
            <tr>
                <th>STT</th>
                <th>Mã Sinh viên</th>
                <th>Tên Sinh viên</th>
                <th>Email</th>
                <th>SĐT</th>
                <th>Lớp sinh hoạt</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th id="tht">Mã Sinh viên</th>
                <th id="tht">Tên Sinh viên</th>
                <th id="tht">Email</th>
                <th id="tht">SĐT</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>
<style>
    /*Buttons to Right Side*/
    div.dt-buttons {
        float: right;
        position: relative;
        margin-left: 10px;
    }
    /*Table Info to right*/
    div.dataTables_wrapper div.dataTables_info {
        float: left;
        padding-top: 8px;
        white-space: nowrap;
    }
</style>
<script>
    var table;
    $(document).ready(function () {
        getDeptList();
        $('#tblStudents tfoot #tht').each(function () {
            var title = $(this).text();
            $(this).html('<input class="FClass form-control" style="width:inherit;" type="text" id="' + title.replace(' ', '_') + '" placeholder="Tìm kiếm theo ' + title + '" />');
        });
        table = $('#tblStudents').DataTable({
            "ordering": true,
            "lengthMenu": [[25, 50, -1], [25, 50, "Tất cả"]],
            "pagingType": "full_numbers",
            "dom": 'Blrtip', // Hides Default Search
            //"dom": 'Bflrtip', // Default Search + Buttons
            "processing": true,
            "serverSide": true,
            "orderMulti": false,

            "ajax": {
                "url": "/Student/getStudents",
                "type": "POST",
                "datatype": "json"
            },
            "language": {
                "lengthMenu": "Hiển thị _MENU_ bản ghi trong một trang",
                "emptyTable": "Chưa có dữ liệu",
                "info": "Trang thứ _PAGE_ trong tổng số _PAGES_ trang",
                "infoEmpty": "Trống",
                "paginate": {
                    "first": "Đầu tiên",
                    "last": "Cuối cùng",
                    "next": "Trước",
                    "previous": "Sau"
                },
            },
            //buttons: ['copyHtml5', 'excelHtml5', 'csvHtml5', 'pdfHtml5', 'print'],
            buttons: [
                        {
                            extend: 'copyHtml5',
                            text: '<i class="fa fa-files-o"></i>',
                            titleAttr: 'Copy'
                        },
                        {
                            extend: 'excelHtml5',
                            text: '<i class="fa fa-file-excel-o"></i>',
                            titleAttr: 'Xuất ra Excel',
                            title: 'Danh sách Sinh viên',
                            customize: function (xlsx) {
                                var sheet = xlsx.xl.worksheets['sheet1.xml'];

                                //$('row c[r^="C"]', sheet).attr('s', '2');//Bold All rows of a column
                                $('row c[r*="3"]', sheet).attr('s', '25');
                            },
                            exportOptions: {
                                columns: [1, 2, 3, 4, 5]
                            }
                        },
                        {
                            extend: 'csvHtml5',
                            text: '<i class="fa fa-file-text-o"></i>',
                            titleAttr: 'Xuất ra CSV',
                            title: 'Danh sách Sinh viên',
                            exportOptions: {
                                columns: [1, 2, 3, 4, 5]
                            }
                        },
                        {
                            extend: 'pdfHtml5',
                            text: '<i class="fa fa-file-pdf-o"></i>',
                            titleAttr: 'Xuất ra PDF',
                            title: 'Danh sách Sinh viên',
                            exportOptions: {
                                columns: [1, 2, 3, 4, 5]
                            }
                        },
                        {
                            extend: 'print',
                            text: '<i class="fa fa-print"></i>',
                            titleAttr: 'PRINT',
                            title: 'Danh sách Sinh viên',
                            exportOptions: {
                                columns: [1, 2, 3, 4, 5]
                            }
                        }
            ],
            "fnDrawCallback": function (oSettings) {
                var count = $("#tblStudents").dataTable().fnSettings().aoData.length;
                if (count != 0) {
                    $(this).find('tbody tr').each(function (index) {
                        $(this).find('td').first(0).text(index + 1);
                    });
                }
            },
            "aoColumnDefs": [
                { "bSortable": false, "aTargets": [0] }
            ],
            "aaSorting": [[1, 'asc']],
            "aoColumns": [
                 {
                     "data": null, "autoWidth": false, "sWidth": "30px"

                 },
                {
                    "data": "idStudent", "autoWidth": false, "sWidth": "60px"

                },
                {
                    "data": "S_Name", "autoWidth": false, "sWidth": "150px", "mRender": function (data, type, full) {
                        var id = '"' + full['idStudent'] + '"';
                        var name = full['S_Name'];
                        return '<a href=' +
                           '@Url.Action("Summary", "Classes")/' + full['idStudent'] +
                           '>' + name + '</a>';
                    }
                },
                  {
                      "data": "S_Email", "autoWidth": false, "sWidth": "100px"

                  },
                   {
                       "data": "S_Phone", "autoWidth": false, "sWidth": "100px"

                   }, {
                       "data": "ClassName", "autoWidth": false, "sWidth": "150px", "visible": false
                   },
                {
                    "data": null,
                    "targets": -1,
                    "render": function (data, type, full) {
                        // console.log(data,type,full);
                        return "<a  onclick='Edit(" + '"' + full['idStudent'] + '"' + ")' id='btnEdit" + "`" + full['idStudent'] + "`" + "' class='btn btn-success btn-xs'>Chỉnh sửa</a>";
                    },
                    "bSearchable": true,
                    "sortable": false,
                    "autoWidth": false,
                    "sWidth": "50px"

                },
                {
                    "data": null,
                    "targets": -1,
                    "render": function (data, type, full) {
                        // console.log(data,type,full);
                        return " <a onclick='Delete(" + '"' + full['idStudent'] + '"' + ")' class='btn btn-danger btn-xs'>Xóa</a>";
                    },
                    "bSearchable": true,
                    "sortable": false,
                    "autoWidth": false,
                    "sWidth": "30px","visible": @(User.IsInRole("Giảng viên") || User.IsInRole("Trợ giảng")? "false" : "true")

                }
            ]
        });


        table.columns().every(function () {
            var that = this;
            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
    });
    $("#btncr").click(function () {
        var productId = $("#project-id").val();
        var url = '@Url.Action("Create", "Student", new { parameterID = "-1" })';
        url = url.replace("-1", productId);
        $("#MyModalContent").load(url, function () {
            $("#MyModal").modal({
                keyboard: false
            }, 'show');
            bindForm(this);
        });
        return false;
    });

    $('#ddlFacu').change(function () {
        table.columns(5).search($('#ddlClass').find('option:selected').text());
        table.draw();
    });
    $('#ddlDept').change(function () {
        table.columns(5).search($('#ddlClass').find('option:selected').text());
        table.draw();
    });
    $('#ddlClass').change(function () {
        var idcls = $('#ddlClass').find('option:selected').val()
        $("#project-id").val(idcls);
        table.columns(5).search($('#ddlClass').find('option:selected').text());

        //console.log($(this).val());
        table.draw();
    });
    var Edit = function (idStudent) {
        $.ajaxSetup({ cache: false });
        var EditUrl = "/Student/Edit/" + idStudent;
        $("#MyModalContent").load(EditUrl, function () {
            $("#MyModal").modal({
                //backdrop: 'static',
                keyboard: false
            }, 'show');
            bindForm(this);
        });
        return false;
    }
    function getDeptList() {
        var idFaculty = $("#ddlFacu").val();
        $.ajax
        ({
            url: '/Student/getDeptList',
            type: 'POST',
            datatype: 'application/json',
            contentType: 'application/json',

            data: JSON.stringify({
                id: idFaculty
            }),
            success: function (result) {
                $("#ddlDept").html("");
                $.each($.parseJSON(result), function (i, dept) {
                    $("#ddlDept").append($('<option></option>').val(dept.idDepartment).html(dept.DepartmentName))
                })
                getClassList();
            },
            error: function () {
                alert("Whooaaa! Something went wrong..")
            },
        });
    }
    function getClassList() {
        var idDepartment = $("#ddlDept").val();
        $.ajax
        ({
            url: '/Student/getClassList',
            type: 'POST',
            datatype: 'application/json',
            contentType: 'application/json',
            data: JSON.stringify({
                id: idDepartment
            }),
            success: function (result) {
                $("#ddlClass").html("");
                $.each($.parseJSON(result), function (i, dept) {
                    $("#ddlClass").append($('<option></option>').val(dept.idClass).html(dept.ClassName))
                })
                var idcls = $('#ddlClass').find('option:selected').val()
                $("#project-id").val(idcls);
                table.columns(5).search($('#ddlClass').find('option:selected').text());
                //hit search on server
                table.draw();


            },
            error: function () {
                alert("Whooaaa! Something went wrong..")
            },
        });
    }
    //#region Delete

    var Delete = function (idStudent) {
        var Msg = "";
        $.ajax({
            url: "/Student/getStdDetails",
            type: "GET",
            data: { id: idStudent },
            success: function (result) {
                // console.log(idFaculty);
                Msg = "Tên Sinh viên : <b>" + result[0].S_Name + "</b>";


                bootbox.confirm({
                    title: "Xác nhận xóa Sinh viên:",
                    message: Msg,
                    buttons: {
                        confirm: {
                            label: 'Xóa',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'Đóng',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            deleteConfirmed(idStudent);
                        }
                    }
                });

            },
            error: function (error) {
                console.log(error);
                alert(error)
            }
        });
    }

    var deleteConfirmed = function (idStudent) {
        $.ajax({
            url: "/Student/deleteConfirmed",
            type: "GET",
            data: { id: idStudent },
            success: function (result) {

                toastr.success(result + '!');
                table.draw();
            },
            error: function (error) {
                console.log(error);
                alert(error)
            }
        });

    }
</script>


