﻿@model FaceCheckin.Models.ViewModels.AddStdVM
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="MyModalTitle">Thêm mới sinh viên vào lớp</h4>
</div>
<style>
    .modal .modal-dialog {
        width: 60%;
    }

    ul.ui-front {
        z-index: 1100;
    }

    .ui-autocomplete {
        background-color: inherit;
    }
</style>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "CreateListStd" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-list-ol"></i></span>
                <input type="text" name="search" id="id_search" placeholder="Tìm theo lớp sinh hoạt" class="form-control" style="width:85%" autofocus />
                <button type="button" class="btn btn-flat" id="btnsearch" onclick="getCrsStatistic()">Tìm kiếm&nbsp;<i class="fa fa-search"></i></button>
            </div>
            <br />
            <div id="sumcontent">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
        <input type="submit" class="btn btn-primary" value="Thêm mới" id="btnSubmit" />
    </div>
}
<link rel="stylesheet" href="~/Content/jquery-ui.css">
<script src="~/Scripts/moment/min/moment.min.js"></script>
<script src="~/Scripts/jQueryUI/jquery-ui.js"></script>
<script src="~/Scripts/jquery.quicksearch.js"></script>
<script>
    $(document).ready(function () {
        getclass();
        $.validator.unobtrusive.parse('#CreateListStd');
        $("#btnSubmit").click(function () {
            if (!$("#CreateListStd").valid()) {
                return false;
            }
            location.reload();
        });
        function getclass() {
            var repeatingEvents
            $.ajax
            ({
                url: '/Course/getClassList',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                success: function (result) {
                    var projects = [];
                    $.each($.parseJSON(result), function (i, dept) {
                        var b = {
                            value: dept.ClassName,
                            label: dept.idClass
                        }
                        projects.push(b);
                    })
                    $("#id_search").autocomplete({
                        minLength: 0,
                        source: projects,
                        focus: function (event, ui) {
                            $("#id_search").val(ui.item.label);
                            return false;
                        },
                        select: function (event, ui) {
                            $("#id_search").html(ui.item.label);
                            return false;
                        }
                    })
                .autocomplete("instance")._renderItem = function (ul, item) {
                    return $("<li>")
                      .append("<div>" + item.value + "<br>" + item.label + "</div>")
                      .appendTo(ul);
                };
                },
                error: function () {
                    alert("Whooaaa! Something went wrong..")
                },
            });
        }
    });
    function getCrsStatistic() {
        var aid = $("#id_search").val();
        var bid = "@Model.idCourse";
        var cid = "@Model.SchoolYear";
        var url = '@Url.Action("PartialSta", "Course", new { parameterID = "-1", idc="-2", sch="-3"})';
        url = url.replace("-1", aid);
        url = url.replace("-2", bid);
        url = url.replace("-3", cid);
        url = url.replace(/&amp;/g, "&");
        $("#sumcontent").load(url)
    }
</script>
