﻿@model FaceCheckin.Models.DB.STUDENT_COURSE
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="MyModalTitle">Thêm mới sinh viên vào lớp</h4>
</div>
<style>
    .modal .modal-dialog {
        width: 40%;
    }
</style>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "CreateStudent" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group cus">
                <div id="project-label"><small>(Nhập mã hoặc tên sinh viên để tìm kiếm)</small></div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-list-ol"></i></span>
                    <input id="std" placeholder="Mã hoặc tên sinh viên" class="form-control" style="width:78%">
                    <button type="button" class="btn btn-flat" id="btnsearch">Tìm kiếm&nbsp;<i class="fa fa-search"></i></button>
                </div>
            </div>
            <br />
            <div class="form-group cus">
                Thông tin sinh viên
                <br />
                <dl class="dl-horizontal">
                    <dt style="text-align:left">
                        <label>MSSV: </label>
                    </dt>
                    <dd>
                        <p id="stdid"></p>
                    </dd>
                    <dt style="text-align:left">
                        <label>Họ tên: </label>
                    </dt>
                    <dd>
                        <p id="sname"></p>
                    </dd>
                    <dt style="text-align:left">
                        <label>Ngày sinh: </label>
                    </dt>
                    <dd>
                        <p id="sdob"></p>
                    </dd>
                    <dt style="text-align:left">
                        <label>Email: </label>
                    </dt>
                    <dd>
                        <p id="semail"></p>
                    </dd>
                    <dt style="text-align:left">
                        <label>Điện thoại: </label>
                    </dt>
                    <dd>
                        <p id="sphone"></p>
                    </dd>
                    <dt style="text-align:left">
                        <label>Lớp sinh hoạt hiện tại: </label>
                    </dt>
                    <dd>
                        <p id="scl"></p>
                    </dd>
                </dl>
            </div>

            @Html.HiddenFor(m => m.idStudent, new { @id = "sid" })
            @Html.HiddenFor(m => m.idCourse, new { @id = "idcourse" })
            @Html.HiddenFor(m => m.SchoolYear)
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
        <input type="submit" class="btn btn-primary" value="Thêm mới" id="btnSubmit" />
    </div>
}
<link rel="stylesheet" href="~/Content/jquery-ui.css">
<script src="~/Scripts/jQueryUI/jquery-ui.js"></script>
<script src="~/Scripts/moment/min/moment.min.js"></script>
<script>
    $(document).ready(function () {
        $.validator.unobtrusive.parse('#CreateStudent');
        $("#btnSubmit").click(function () {
            if (!$("#CreateStudent").valid()) {
                return false;
            }
            location.reload();
        });
    });
    $("#btnsearch").click(function () {
        var std = $("#std").val();
        $.ajax({
            url: '/Course/getStd',
            type: 'POST',
            datatype: 'application/json',
            contentType: 'application/json',
            data: JSON.stringify({
                std: std
            }),
            success: function (result) {
                $.each($.parseJSON(result), function (i, std) {
                    var d = moment((new Date(parseInt(std.S_Dob.match(/\d+/)[0])))).format('DD/MM/YYYY');
                    $("#sid").val(std.idStudent);
                    $("#stdid").html(std.idStudent);
                    $("#sname").html(std.S_Name);
                    $("#sdob").html(d);
                    $("#semail").html(std.S_Email);
                    $("#sphone").html(std.S_Phone);
                    $("#scl").html(std.ClassName);
                })
            },
            error: function () {
                alert("Whooaaa! Something went wrong..")
            }
        });

    });
</script>
