﻿@model FaceCheckin.Models.ViewModels.AddCourseVM
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="MyModalTitle">Chỉnh sửa thông tin Lớp tín chỉ</h4>
</div>
<style>
    .modal .modal-dialog {
        width: 60%;
    }
</style>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "EditCourse" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-body" style="padding:1px">

        <div class="form-horizontal">
            @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
            @*<div class="col-lg-6">
                <label class="control-label">Thuộc khoa</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-sitemap"></i></span>
                    <select id="ddlFacu" class="form-control" style="width:100%" onchange="getDeptList()">
                        @foreach (var item in ViewBag.FacuList)
                        {
                            <text>
                                <option value="@item.idFaculty">@item.FacultyName</option>
                            </text>
                        }

                    </select>
                </div>
            </div>
            <div class="col-lg-6">
                @Html.LabelFor(m => m.Course.idDepartment, new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-list-alt"></i></span>
                    @Html.DropDownListFor(m => m.Course.idDepartment,
       new SelectList(Enumerable.Empty<SelectListItem>(), "idDepartment", "DepartmentName"),
            new { @class = "form-control", @id = "ddlDept", style = "width:100%", @onchange = "getInsList()" })
                    @Html.ValidationMessageFor(m => m.Course.idDepartment, "", new { @class = "text-danger" })
                </div>
            </div>*@
            <div class="col-lg-6">
                @Html.LabelFor(m => m.Course.idCourse, htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-list-ol"></i></span>
                    @Html.TextBoxFor(m => m.Course.idCourse, new { @class = "form-control", @placeholder = "Mã lớp", @readonly = true })
                </div>
                @Html.ValidationMessageFor(m => m.Course.idCourse, "", new { @class = "text-danger" })

            </div>
            <div class="col-lg-6">
                @Html.LabelFor(m => m.Course.CourseName, htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-align-center"></i></span>
                    @Html.TextBoxFor(m => m.Course.CourseName, new { @class = "form-control", @placeholder = "Tên lớp" })
                </div>
                @Html.ValidationMessageFor(m => m.Course.CourseName, "", new { @class = "text-danger" })

            </div>
            <div class="col-lg-6">
                <label class="control-label">GV đứng lớp</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user-secret"></i></span>
                    @*@Html.DropDownListFor(model => model.Course.idInstructor, (SelectList)ViewBag.InsList, new { @class = "form-control", @id = "ddlIns"/*, @disabled = "disabled" */})*@
                    @Html.DropDownListFor(m => m.Course.idInstructor, new SelectList(Model.Instructors, "idInstructor", "I_Name"), htmlAttributes: new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.Course.idInstructor, "", new { @class = "text-danger" })

            </div>
            <div class="col-lg-6">
                @Html.LabelFor(m => m.Course.SchoolYear, htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    @Html.TextBoxFor(m => m.Course.SchoolYear, new { @class = "form-control", @id = "datemask" })
                </div>
                @Html.ValidationMessageFor(m => m.Course.SchoolYear, "", new { @class = "text-danger" })

            </div>
            <div class="col-lg-6">
                <label class="control-label">Ngày bắt đầu</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @*@Html.TextBoxFor(m => m.Course.StartDate, new { @class = "form-control", style = "width:100%", @id = "ngaybd" })*@
                    @Html.TextBoxFor(m => m.Course.StartDate, Model.Course.StartDate.ToShortDateString(), new { @class = "form-control", style = "width:100%", @id = "ngaybd" })
                </div>
                @Html.ValidationMessageFor(m => m.Course.StartDate, "", new { @class = "text-danger" })

            </div>
            <div class="col-lg-6">
                <label class="control-label">Ngày kết thúc</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.TextBoxFor(m => m.Course.EndDate, Model.Course.EndDate.ToShortDateString(), new { @class = "form-control", style = "width:100%", @id = "ngaykt" })
                    @*@Html.TextBoxFor(m => m.Course.EndDate, new { @class = "form-control", style = "width:100%", @id = "ngaykt" })*@
                </div>
                @Html.ValidationMessageFor(m => m.Course.EndDate, "", new { @class = "text-danger" })

            </div>
            <div class="table-striped" id="courseschedule" style="margin-left:8px">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Lịch trong tuần</th>
                            <th>Từ</th>
                            <th>Đến</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="padding:3px">@Html.CheckBoxFor(m => m.chk1, new { id = "thuhai" })&nbsp;&nbsp;Thứ 2</td>
                            <td style="padding:3px;width:200px">
                                <div class="bootstrap-timepicker">
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.Mon1, new { @class = "form-control timepicker", @id = "thuhaitp1", @disabled ="disabled"})
                                        @*<input type="text" class="form-control timepicker" id="thuhaitp1" disabled>*@
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td style="padding: 3px; width: 200px">
                                <div class="bootstrap-timepicker">
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.Mon2, new { @class = "form-control timepicker", @id = "thuhaitp2", @disabled ="disabled"})
                                        @*<input type="text" class="form-control timepicker" id="thuhaitp2" disabled>*@
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:3px">@Html.CheckBoxFor(m => m.chk2, new { id = "thuba" })&nbsp;&nbsp;Thứ 3</td>
                            <td style="padding:3px">
                                <div class="bootstrap-timepicker">
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.Tue1, new { @class = "form-control timepicker", @id = "thubatp1", @disabled = "disabled" })
                                        @*<input type="text" class="form-control timepicker" id="thubatp1" disabled>*@
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td style="padding:3px">
                                <div class="bootstrap-timepicker">
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.Tue2, new { @class = "form-control timepicker", @id = "thubatp2", @disabled = "disabled" })
                                        @*<input type="text" class="form-control timepicker" id="thubatp2" disabled>*@
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:3px">@Html.CheckBoxFor(m => m.chk3, new { id = "thutu" })&nbsp;&nbsp;Thứ 4</td>
                            <td style="padding:3px">
                                <div class="bootstrap-timepicker">
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.Wed1, new { @class = "form-control timepicker", @id = "thututp1", @disabled = "disabled" })
                                        @*<input type="text" class="form-control timepicker" id="thututp1" disabled>*@
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td style="padding:3px">
                                <div class="bootstrap-timepicker">
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.Wed2, new { @class = "form-control timepicker", @id = "thututp2", @disabled = "disabled" })
                                        @*<input type="text" class="form-control timepicker" id="thututp2" disabled>*@
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:3px">@Html.CheckBoxFor(m => m.chk4, new { id = "thunam" })&nbsp;&nbsp;Thứ 5</td>
                            <td style="padding:3px">
                                <div class="bootstrap-timepicker">
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.Thu1, new { @class = "form-control timepicker", @id = "thunamtp1", @disabled = "disabled" })
                                        @*<input type="text" class="form-control timepicker" id="thunamtp1" disabled>*@
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td style="padding:3px">
                                <div class="bootstrap-timepicker">
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.Thu2, new { @class = "form-control timepicker", @id = "thunamtp2", @disabled = "disabled" })
                                        @*<input type="text" class="form-control timepicker" id="thunamtp2" disabled>*@
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:3px">@Html.CheckBoxFor(m => m.chk5, new { id = "thusau" })&nbsp;&nbsp;Thứ 6</td>
                            <td style="padding:3px">
                                <div class="bootstrap-timepicker">
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.Fri1, new { @class = "form-control timepicker", @id = "thusautp1", @disabled = "disabled" })
                                        @*<input type="text" class="form-control timepicker" id="thusautp1" disabled>*@
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td style="padding:3px">
                                <div class="bootstrap-timepicker">
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.Fri2, new { @class = "form-control timepicker", @id = "thusautp2", @disabled = "disabled" })
                                        @*<input type="text" class="form-control timepicker" id="thusautp2" disabled>*@
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:3px">@Html.CheckBoxFor(m => m.chk6, new { id = "thubay" })&nbsp;&nbsp;Thứ 7</td>
                            <td style="padding:3px">
                                <div class="bootstrap-timepicker">
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.Sat1, new { @class = "form-control timepicker", @id = "thubaytp1", @disabled = "disabled" })
                                        @*<input type="text" class="form-control timepicker" id="thubaytp1" disabled>*@
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td style="padding:3px">
                                <div class="bootstrap-timepicker">
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.Sat2, new { @class = "form-control timepicker", @id = "thubaytp2", @disabled = "disabled" })
                                        @*<input type="text" class="form-control timepicker" id="thubaytp2" disabled>*@

                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:3px">@Html.CheckBoxFor(m => m.chk7, new { id = "chunhat" })&nbsp;&nbsp;Chủ nhật</td>
                            <td style="padding:3px">
                                <div class="bootstrap-timepicker">
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.Sun1, new { @class = "form-control timepicker", @id = "chunhattp1", @disabled = "disabled" })
                                        @*<input type="text" class="form-control timepicker" id="chunhattp1" disabled>*@
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td style="padding:3px">
                                <div class="bootstrap-timepicker">
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.Sun2, new { @class = "form-control timepicker", @id = "chunhattp2", @disabled = "disabled" })
                                        @*<input type="text" class="form-control timepicker" id="chunhattp2" disabled>*@
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
        <input type="submit" class="btn btn-primary" value="Lưu thay đổi" id="btnSubmit" />
    </div>
}
<script src="~/Scripts/Customdatetime.js"></script>
<script>
    $(document).ready(function () {
        //getDeptList();
       
        $.validator.unobtrusive.parse('#EditCourse');
        $("#btnSubmit").click(function () {
            if (!$("#EditCourse").valid()) {
                return false;
            }
        });
        $("#datemask").inputmask("2099-2099", { placeholder: "20__-20__" });
        $.validator.methods.date = function (value, element) {
            Globalize.culture("en-AU");
            return this.optional(element) || Globalize.parseDate(value) !== null;
        }
        if ($("#thuhai").is(':checked')) {
            $("#thuhaitp1").removeAttr("disabled");
            $("#thuhaitp2").removeAttr("disabled");
        }
        if ($("#thuba").is(':checked')) {
            $("#thubatp1").removeAttr("disabled");
            $("#thubatp2").removeAttr("disabled");
        }
        if ($("#thutu").is(':checked')) {
            $("#thututp1").removeAttr("disabled");
            $("#thututp2").removeAttr("disabled");
        }
        if ($("#thunam").is(':checked')) {
            $("#thunamtp1").removeAttr("disabled");
            $("#thunamtp2").removeAttr("disabled");
        }
        if ($("#thusau").is(':checked')) {
            $("#thusautp1").removeAttr("disabled");
            $("#thusautp2").removeAttr("disabled");
        }
        if ($("#thubay").is(':checked')) {
            $("#thubaytp1").removeAttr("disabled");
            $("#thubaytp2").removeAttr("disabled");
        }
        if ($("#chunhat").is(':checked')) {
            $("#chunhattp1").removeAttr("disabled");
            $("#chunhattp2").removeAttr("disabled");
        }
        $("#thuhai").click(function () {
            if ($(this).is(":checked")) {
                $("#thuhaitp1").removeAttr("disabled");
                $("#thuhaitp2").removeAttr("disabled");
            } else {
                $("#thuhaitp1").attr("disabled", "disabled");
                $("#thuhaitp2").attr("disabled", "disabled");
            }
        });
        $("#thuba").click(function () {
            if ($(this).is(":checked")) {
                $("#thubatp1").removeAttr("disabled");
                $("#thubatp2").removeAttr("disabled");
            } else {
                $("#thubatp1").attr("disabled", "disabled");
                $("#thubatp2").attr("disabled", "disabled");
            }
        });
        $("#thutu").click(function () {
            if ($(this).is(":checked")) {
                $("#thututp1").removeAttr("disabled");
                $("#thututp2").removeAttr("disabled");
            } else {
                $("#thututp1").attr("disabled", "disabled");
                $("#thututp2").attr("disabled", "disabled");
            }
        });
        $("#thunam").click(function () {
            if ($(this).is(":checked")) {
                $("#thunamtp1").removeAttr("disabled");
                $("#thunamtp2").removeAttr("disabled");
            } else {
                $("#thunamtp1").attr("disabled", "disabled");
                $("#thunamtp2").attr("disabled", "disabled");
            }
        });
        $("#thusau").click(function () {
            if ($(this).is(":checked")) {
                $("#thusautp1").removeAttr("disabled");
                $("#thusautp2").removeAttr("disabled");
            } else {
                $("#thusautp1").attr("disabled", "disabled");
                $("#thusautp2").attr("disabled", "disabled");
            }
        });
        $("#thubay").click(function () {
            if ($(this).is(":checked")) {
                $("#thubaytp1").removeAttr("disabled");
                $("#thubaytp2").removeAttr("disabled");
            } else {
                $("#thubaytp1").attr("disabled", "disabled");
                $("#thubaytp2").attr("disabled", "disabled");
            }
        });
        $("#chunhat").click(function () {
            if ($(this).is(":checked")) {
                $("#chunhattp1").removeAttr("disabled");
                $("#chunhattp2").removeAttr("disabled");
            } else {
                $("#chunhattp1").attr("disabled", "disabled");
                $("#chunhattp2").attr("disabled", "disabled");
            }
        });
    });
    //function getDeptList() {
    //    var idFaculty = $("#ddlFacu").val();
    //    $.ajax
    //    ({
    //        url: '/Course/getDeptList',
    //        type: 'POST',
    //        datatype: 'application/json',
    //        contentType: 'application/json',
    //        data: JSON.stringify({
    //            id: idFaculty
    //        }),
    //        success: function (result) {
    //            $("#ddlDept").html("");
    //            $.each($.parseJSON(result), function (i, dept) {
    //                $("#ddlDept").append($('<option></option>').val(dept.idDepartment).html(dept.DepartmentName))
    //            })
    //            getInsList();
    //        },
    //        error: function () {
    //            alert("Whooaaa! Something went wrong..")
    //        },
    //    });
    //}
    //function getInsList() {
    //    var idDepartment = $("#ddlDept").val();
    //    $.ajax
    //   ({
    //       url: '/Course/getInsList',
    //       type: 'POST',
    //       datatype: 'application/json',
    //       contentType: 'application/json',
    //       data: JSON.stringify({
    //           id: idDepartment
    //       }),
    //       success: function (result) {
    //           $("#ddlIns").html("");
    //           $.each($.parseJSON(result), function (i, dept) {
    //               $("#ddlIns").append($('<option></option>').val(dept.idInstructor).html(dept.I_Name))
    //           })
    //       },
    //       error: function () {
    //           alert("Whooaaa! Something went wrong..")
    //       },
    //   });
    //}
</script>
