﻿@model List<FaceCheckin.Models.ViewModels.AddStdVM>
<table class="table table-striped" id="tblstd">
    <thead>
        <tr>
            <th><input type="checkbox" id="chkSelectAll" /></th>
            <th>
                Mã sinh viên
            </th>
            <th>
                Tên sinh viên
            </th>
            <th>
                Ngày sinh
            </th>
            <th>
                Lớp sinh hoạt
            </th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td>
                        @Html.CheckBoxFor(modelItem => modelItem[i].Selected, new { @class = "chkSelect", @id = "selectdStd" })
                    </td>
                    <td>
                        @Html.HiddenFor(modelItem => modelItem[i].idStudent)
                        @Html.DisplayFor(modelItem => modelItem[i].idStudent, new { @id = "idStd" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem[i].S_Name, new { @id = "stdname" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem[i].S_Dob, new { @id = "stddob" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem[i].ClassName, new { @id = "stdcl" })
                    </td>
                </tr>
                @Html.HiddenFor(modelItem => modelItem[i].idCourse)
                @Html.HiddenFor(modelItem => modelItem[i].SchoolYear)
            }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#chkSelectAll").bind("change", function () {
            $(".chkSelect").prop("checked", $(this).prop("checked"));
        });
        $(".chkSelect").bind("change", function () {
            if (!$(this).prop("checked"))
                $("#chkSelectAll").prop("checked", false);
        });
    });
</script>