﻿@model FaceCheckin.Models.ViewModels.StdSum
@{
    ViewBag.Title = "Chi tiết quá trình điểm danh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table {
        display: block;
        overflow-x: auto;
    }
</style>
<div>
    <dl class="dl-horizontal">
        <dt style="text-align: left; width: 210px">
            <label>Họ tên sinh viên: </label>
        </dt>
        <dd>
            <p> @Html.DisplayFor(model => model.S_Name)</p>
        </dd>
        <dt style="text-align: left; width: 210px">
            <label>Mã số sinh viên: </label>
        </dt>
        <dd>
            <p> @Html.DisplayFor(model => model.idStudent)</p>
        </dd>
        <dt style="text-align:left;width:210px">
            <label>Lớp tín chỉ: </label>
        </dt>
        <dd>
            <p> @Html.DisplayFor(model => model.Course.CourseName)</p>
        </dd>
        <dt style="text-align: left; width: 210px">
            <label>Số buổi vắng/ <small>Tổng số buổi</small>: </label>
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => modelItem.NoAbsent)/@Html.DisplayFor(modelItem => modelItem.NoCourse) &nbsp;&nbsp;&nbsp;
            @switch (Model.absWarning)
            {
                case 0:
                    {
                        <span class="label label-success">Sinh viên nghỉ trong giới hạn cho phép của môn học</span>
                        break;
                    }
                case 1:
                    {
                        <span class="label label-danger">Sinh viên nghỉ quá <small>1/2</small> số buổi của môn học</span>
                        break;
                    }
                case 2:
                    {
                        <span class="label label-warning">Sinh viên nghỉ quá <small>1/4</small> số buổi của môn học</span>
                        break;
                    }
                case 3:
                    {
                        <span class="label label-info">Sinh viên nghỉ quá <small>1/8</small> số buổi của môn học</span>
                        break;
                    }
            }
        </dd>
        <dt style="text-align: left; width: 210px">
            <label> Số buổi đi trễ: </label>
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => modelItem.NoLate)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            @switch (Model.lateWarning)
            {
                case 0:
                    {
                        <span class="label label-success">Sinh viên đi đúng giờ</span>
                        break;
                    }
                case 1:
                    {
                        <span class="label label-danger">Sinh viên thường xuyên đi muộn</span>
                        break;
                    }
            }
        </dd>

    </dl>
    <table class="table table-striped table-hover table-bordered table-responsive">
        <thead>
            <tr>
                @foreach (var item in Model.CourseDate)
                {
                    <th>@item.ToString("dd/MM/yyyy")</th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                @for (var i = 0; i < Model.tick.Count(); i++)
                {
                    if (Model.tick[i] == "false")
                    {
                        <th class="detailsinformation danger">Vắng</th>
                    }
                    else if (Model.tick[i] == "true")
                    {
                        <th class="detailsinformation success">Đi học</th>
                    }
                    else if (Model.tick[i] == null)
                    {
                        <th class="detailsinformation"></th>
                    }
                    else
                    {
                        <th class="detailsinformation info">Đi trễ @Model.tick[i] phút</th>
                    }
                }
            </tr>
        </tbody>
    </table>
</div>
<p>
    @*@Html.ActionLink("Trở về", "Details", new { id = Model.Course.idCourse }, new { @class = "buttonPrevious btn btn-primary", @style = "margin-top: 20px" })*@
    <button class="buttonPrevious btn btn-primary" style="margin-top: 20px" onclick="goBack()">Trở về</button>
</p>
<script>
    function goBack() {
        window.history.back();
    }
</script>