﻿@model FaceCheckin.Models.ViewModels.CourseDetailsVM

@{
    ViewBag.Header = "Danh sách Học sinh thuộc Lớp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="MyModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="MyModalContent"></div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div>
    <div>
        <dl class="dl-horizontal" style="margin-bottom:10px">
            <dt style="text-align: left; width: 130px">
                <label>Mã lớp tín chỉ: </label>
            </dt>
            <dd style="margin-left:0px">
                <p> @Html.DisplayFor(model => model.Course.idCourse)</p>
            </dd>
            <dt style="text-align: left; width: 130px">
                <label>Tên lớp tín chỉ: </label>
            </dt>
            <dd style="margin-left:0px">
                <p> @Html.DisplayFor(model => model.Course.CourseName, new { @id = "idstd" })</p>
            </dd>
        </dl>
        <div style="margin-bottom:15px;text-align:left;margin-right:15px">
            <div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary">Thêm sinh viên vào lớp</button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("Thêm từng sinh viên", "AddStudentToCourse", null, new { id = Model.Course.idCourse }, new { data_modal = "" })</li>
                        <li>@Html.ActionLink("Thêm danh sách", "AddListStudentToCourse", null, new { id = Model.Course.idCourse }, new { data_modal = "" })</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Nhập bằng Excel", "AddListStudentToCourseFromExcel", null, new { data_modal = "" })</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div>
        <div class="ck-button col-lg-10" style="margin-bottom:10px">
            <label><input type="checkbox" value="1" name="detailsinformation" checked="checked" style="margin-top: 10px"><span>&nbsp;&nbsp;Hiển thị chi tiết</span></label>
        </div>
        <div style="margin-bottom:10px;text-align:right;margin-right:15px">
            <button id="btn-export" title="Xuất ra Excel" class="btn btn-primary" style="text-align:right"><i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;Xuất ra Excel</button>
        </div>
    </div>
    @*<div style="text-align:right" class="col-lg-6">
        </div>*@
    <div>
        <div class="divScoll" id="dvscr" style="overflow-x: auto; overflow-y: visible;margin-left:430px">
            <table class="table table-striped" id="tblsum" style="margin-top:0px; table-layout:fixed; background-color: #FFF">
                <tr>
                    <td style="position:absolute;left:10px;width:40px;">
                        <strong>STT</strong>
                    </td>
                    <td style="position:absolute;left:50px;width:100px;">
                        <strong>Mã Sinh viên</strong>
                    </td>
                    <td style="position:absolute;left:150px;width:200px;">
                        <strong>Tên Sinh viên</strong>
                    </td>
                    <td style="position:absolute;left:350px;width:90px;">
                        <strong>Ngày sinh</strong>
                    </td>
                    @foreach (var item in Model.CourseDate)
                    {
                        <td class="detailsinformation" style="width:80px; column-rule-color:white"><strong>@item.ToString("dd/MM/yyyy")</strong></td>
                    }

                    <td style="width:250px;font-weight:bold; text-align:center">
                        <strong>Số buổi vắng/ <small>Tổng số buổi</small></strong>
                    </td>
                    <td style="width:250px;font-weight:bold;text-align:center">
                        <strong>Số buổi đi trễ</strong>
                    </td>
                </tr>

                @foreach (var item in Model.Course.STUDENT_COURSE.Select((item, index) => new { item, index }))
                {
                    <tr>
                        <td style="position:absolute;left:10px;width:40px">
                            @(item.index + 1)
                        </td>
                        <td style="position: absolute; left: 0; width: 100px; margin-left: 50px; ">
                            @Html.DisplayFor(modelItem => item.item.idStudent)
                        </td>
                        <td style="position: absolute; left: 0; width: 200px; margin-left: 150px; ">
                            @Html.ActionLink(item.item.Student.S_Name, "DetailsReport", "Course", new { idStudent = item.item.idStudent, idCourse = Model.Course.idCourse }, null)
                        </td>
                        <td style="position: absolute; left: 0; width: 90px; margin-left: 350px">
                            @Html.DisplayFor(modelItem => item.item.Student.S_Dob)
                        </td>
                        @foreach (var j in item.item.chksch)
                        {
                            if (j == "false")
                            {
                                <th class="detailsinformation danger">Vắng</th>
                            }
                            else if (j == "true")
                            {
                                <th class="detailsinformation success">Đi học</th>
                            }
                            else if (j == null)
                            {
                                <th class="detailsinformation"></th>
                            }
                            else
                            {
                                <th class="detailsinformation info">Đi trễ @j phút</th>
                            }

                        }
                        <td style="text-align:center">
                            @Html.DisplayFor(modelItem => item.item.NoAbsent)/@Html.DisplayFor(modelItem => Model.CourseNo)
                        </td>
                        <td style="text-align:center">
                            @Html.DisplayFor(modelItem => item.item.NoLate)
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="4" style="position: absolute; left: 0; width: 440px;text-align:center" class="detailsinformation"><strong>Đi học</strong></td>
                    @for (int rc = 0; rc < Model.rowcntNAbs.Length; rc++)
                    {
                        <td class="detailsinformation">@Model.rowcntNAbs[rc]</td>
                    }
                </tr>
                <tr>
                    <td colspan="4" style="position: absolute; left: 0; width: 440px;text-align:center" class="detailsinformation"><strong>Vắng</strong></td>
                    @for (int rc = 0; rc < Model.rowcntAbs.Length; rc++)
                    {
                        <td class="detailsinformation">@Model.rowcntAbs[rc]</td>
                    }
                </tr>

            </table>

        </div>
    </div>
</div>
@*@foreach (var tt in Model.lstlate)
    {
        @tt
    }*@
<p>
    <button class="buttonPrevious btn btn-primary" style="margin-top: 20px" onclick="goBack()">Trở về</button>
    @*@Html.ActionLink("Trở về", "Index", null, new { @class = "buttonPrevious btn btn-primary" })*@
</p>
<script src="~/Scripts/jquery.table2excel.js"></script>
<script>
    $("input:checkbox:not(:checked)").each(function () {
        var column = "table ." + $(this).attr("name");
        $(column).hide();
    });

    $("input:checkbox").click(function () {
        var column = "table ." + $(this).attr("name");
        $(column).toggle();
    });
    $('#btn-export').on('click', function () {
        //$('#tblsum').find("tr td a").replaceWith(function () {
        //    return $.text([this]);
        //});
        $('<table>').append($('#tblsum tr').clone()).table2excel({
            exclude: ".noExl",
            fileext: ".xls",
            name: "Worksheet Name",
            exclude_links: false,
            filename: "@Model.Course.idCourse - @Model.Course.CourseName" //do not include extension
        });
    });
    function goBack() {
        window.history.back();
    }
</script>
<style>
    /*tr td {
        background-color: #FFF;
    }*/
    tr:nth-child(odd) > td,
    tr:nth-child(odd) > th {
        background-color: #f9f9f9;
    }
    /*tr, td {
        border: 1px solid #ddd !important;
    }*/
</style>