﻿
@{
    ViewBag.Title = "Tải về ứng dụng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-6">
    <center><img src="~/Content/Images/download.png"></center>
</div>
<div class="col-lg-6" style="margin-top:70px">
    <p>Tải về máy tính <strong> Ứng dụng điểm danh</strong> để hỗ trợ tối đa việc điểm danh ở lớp học, cũng như quản lý, thống kê việc điểm danh đạt hiệu quả.</p>
    <strong>Yêu cầu:</strong> Máy tính để bàn có webcam hoạt động tốt, hoặc Laptop có webcam.
    <br />
    <br />
    <br />
    <center>
        <button type="button" class="btn btn-primary btn-lg" style="margin-right: 5px;text-align:center" onclick="window.open('http://www.mediafire.com/')">
            <i class="fa fa-download"></i> Tải về ứng dụng
        </button>
    </center>
</div>
