﻿@model FaceCheckin.Models.ViewModels.StatisticVM
@{
    ViewBag.Title = "Thống kê & Báo cáo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="form-group col-lg-6">
    <label class="control-label">Thuộc khoa</label>
    <select id="ddlFacu" class="form-control" style="width:90%" onchange="getDeptList()">
        @foreach (var item in ViewBag.FacuList)
        {
            <text>
                <option value="@item.idFaculty">@item.FacultyName</option>
            </text>
        }

    </select>
</div>
<div class="form-group col-lg-6">
    <label class="control-label">Thuộc bộ môn</label>
    @Html.DropDownListFor(m => m.Course.Departments,
       new SelectList(Enumerable.Empty<SelectListItem>(), "idDepartment", "DepartmentName"),
                               new { @class = "form-control", style = "width:90%", @id = "ddlDept", @onchange = "getCourseList()" })
    @Html.ValidationMessageFor(m => m.Course.Departments, "", new { @class = "text-danger" })

</div>
<div class="form-group col-lg-6">
    <label class="control-label">Năm học</label>
    <select id="ddSch" class="form-control" style="width:90%" onchange="getCourseList()">
        @foreach (var item in ViewBag.SchList)
        {
            <text>
                <option value="@item.SchoolYear">@item.SchoolYear</option>
            </text>
        }

    </select>
</div>
<div class="form-group col-lg-6">
    <label class="control-label">Lớp tín chỉ</label>
    @Html.DropDownListFor(m => m.Courses,
       new SelectList(Enumerable.Empty<SelectListItem>(), "idCourse", "CourseName"),
                       new { @class = "form-control", style = "width:90%", @id = "ddCrs" })
    @Html.ValidationMessageFor(m => m.Courses, "", new { @class = "text-danger" })

</div>
<input type="hidden" id="course-id" />
<div>
    <button id="btnstaticstic" title="Thống kê" class="btn btn-primary" style="text-align:right" onclick="getCrsStatistic()"><i class="fa fa-bar-chart"></i>&nbsp;&nbsp;Thống kê</button>
</div>
<hr />
<div id="sumcontent">

</div>
<script>
    $(document).ready(function () {
        getDeptList();
    });
    function getCrsStatistic() {
        var aid = $("#course-id").val();
        var url = '@Url.Action("PartialSta", "Statistic", new { parameterID = "-1" })';
        url = url.replace("-1", aid);
        $("#sumcontent").load(url)
    }
    function getDeptList() {
        var idFaculty = $("#ddlFacu").val();
        $.ajax
        ({
            url: '/Statistic/getDeptList',
            type: 'POST',
            datatype: 'application/json',
            contentType: 'application/json',
            data: JSON.stringify({
                id: idFaculty
            }),
            success: function (result) {
                $("#ddlDept").html("");
                $.each($.parseJSON(result), function (i, dept) {
                    $("#ddlDept").append($('<option></option>').val(dept.idDepartment).html(dept.DepartmentName))
                })
                getCourseList();
            },
            error: function () {
                alert("Whooaaa! Something went wrong..")
            },
        });
    }
    $('#ddCrs').change(function () {
        var idcls = $('#ddCrs').find('option:selected').val()
        $("#course-id").val(idcls);
    });
    function getCourseList() {
        var idDepartment = $("#ddlDept").val();
        var SchoolYear = $('#ddSch').find('option:selected').text();
        $.ajax
        ({
            url: '/Statistic/getCourseList',
            type: 'POST',
            datatype: 'application/json',
            contentType: 'application/json',
            data: JSON.stringify({
                idDepartment: idDepartment,
                SchoolYear: SchoolYear
            }),
            success: function (result) {
                $("#ddCrs").html("");
                $.each($.parseJSON(result), function (i, dept) {
                    $("#ddCrs").append($('<option></option>').val(dept.idCourse).html(dept.CourseName))
                })
                var idcls = $('#ddCrs').find('option:selected').val()
                $("#course-id").val(idcls);
            },
            error: function () {
                alert("Whooaaa! Something went wrong..")
            },
        });
    }

</script>
