﻿@model FaceCheckin.Models.ViewModels.StatisticVM
<div>
    <div class="ck-button col-lg-10" style="margin-bottom:10px">
        <label><input type="checkbox" value="1" name="detailsinformation" checked="checked" style="margin-top: 10px"><span>&nbsp;&nbsp;Hiển thị chi tiết</span></label>
    </div>
    <div style="margin-bottom:10px;text-align:right;margin-right:15px">
        <button id="btn-export" title="Xuất ra Excel" class="btn btn-primary" style="text-align:right"><i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;Xuất ra Excel</button>
    </div>
</div>
<div>
    <div class="divScoll" id="dvscr" style="overflow-x: auto; overflow-y: visible;margin-left:430px">
        <table class="table table-striped" id="tblsum" style="margin-top:0px; table-layout:fixed; background-color: #FFF">
            <tr>
                <td style="position:absolute;left:10px;width:40px;">
                    <strong>STT</strong>
                </td>
                <td style="position:absolute;left:50px;width:100px;">
                    <strong>Mã Sinh viên</strong>
                </td>
                <td style="position:absolute;left:150px;width:200px;">
                    <strong>Tên Sinh viên</strong>
                </td>
                <td style="position:absolute;left:350px;width:90px;">
                    <strong>Ngày sinh</strong>
                </td>
                @foreach (var item in Model.CourseDate)
                {
                    <td class="detailsinformation" style="width:80px; column-rule-color:white"><strong>@item.ToString("dd/MM/yyyy")</strong></td>
                }

                <td style="width:250px;font-weight:bold; text-align:center">
                    <strong>Số buổi vắng/ <small>Tổng số buổi</small></strong>
                </td>
                <td style="width:250px;font-weight:bold;text-align:center">
                    <strong>Số buổi đi trễ</strong>
                </td>
            </tr>

            @foreach (var item in Model.Course.STUDENT_COURSE.Select((item, index) => new { item, index }))
            {
                <tr>
                    <td style="position:absolute;left:10px;width:40px">
                        @(item.index + 1)
                    </td>
                    <td style="position: absolute; left: 0; width: 100px; margin-left: 50px; ">
                        @Html.DisplayFor(modelItem => item.item.idStudent)
                    </td>
                    <td style="position: absolute; left: 0; width: 200px; margin-left: 150px; ">
                        @Html.ActionLink(item.item.Student.S_Name, "DetailsReport", "Course", new { idStudent = item.item.idStudent, idCourse = Model.Course.idCourse }, null)
                    </td>
                    <td style="position: absolute; left: 0; width: 90px; margin-left: 350px">
                        @Html.DisplayFor(modelItem => item.item.Student.S_Dob)
                    </td>
                    @foreach (var j in item.item.chksch)
                    {
                        if (j == "false")
                        {
                            <th class="detailsinformation danger">Vắng</th>
                        }
                        else if (j == "true")
                        {
                            <th class="detailsinformation success">Đi học</th>
                        }
                        else if (j == null)
                        {
                            <th class="detailsinformation"></th>
                        }
                        else
                        {
                            <th class="detailsinformation info">Đi trễ @j phút</th>
                        }

                    }
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.item.NoAbsent)/@Html.DisplayFor(modelItem => Model.CourseNo)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.item.NoLate)
                    </td>
                </tr>
            }
            <tr>
                <td colspan="4" style="position: absolute; left: 0; width: 440px;text-align:center" class="detailsinformation"><strong>Đi học</strong></td>
                @for (int rc = 0; rc < Model.rowcntNAbs.Length; rc++)
                {
                    <td class="detailsinformation">@Model.rowcntNAbs[rc]</td>
                }
            </tr>
            <tr>
                <td colspan="4" style="position: absolute; left: 0; width: 440px;text-align:center" class="detailsinformation"><strong>Vắng</strong></td>
                @for (int rc = 0; rc < Model.rowcntAbs.Length; rc++)
                {
                    <td class="detailsinformation">@Model.rowcntAbs[rc]</td>
                }
            </tr>

        </table>

    </div>
</div>
<br />
<div style="text-align: center">
    <canvas id="Linecanvas"></canvas>
</div>
<br />
<div class="col-lg-6">
    <p class="text-danger"><strong>Sinh viên trong diện cảnh báo</strong></p>
    <table class="table table-striped table-hover table-bordered table-responsive">
        <tr>
            <td style="width:100px">
                <strong>Mã Sinh viên</strong>
            </td>
            <td>
                <strong>Tên Sinh viên</strong>
            </td>
            <td style="width:80px">
                <strong>Điện thoại</strong>
            </td>
            <td style="width:110px">
                <strong>Số buổi vắng/ <small>Tổng số buổi</small></strong>
            </td>
        </tr>
        @foreach (var s in Model.Course.STUDENT_COURSE)
        {
            if (s.NoAbsent >= (Model.Course.NumberOfCourse / 2))
            {
                <tr>
                    <td style="width:100px">
                        @Html.DisplayFor(modelItem => s.idStudent)
                    </td>
                    <td>
                        @Html.ActionLink(s.Student.S_Name, "DetailsReport", "Course", new { idStudent = s.idStudent, idCourse = Model.Course.idCourse }, null)
                    </td>
                    <td style="width:80px">
                        @Html.DisplayFor(modelItem => s.Student.S_Phone)
                    </td>
                    <td style="width:110px">
                        @Html.DisplayFor(modelItem => s.NoAbsent)/@Html.DisplayFor(modelItem => Model.CourseNo)
                    </td>
                </tr>
            }
        }

    </table>
</div>
<div class="col-lg-6">
    <p class="text-info"><strong>Sinh viên trong diện có nguy cơ cảnh báo</strong></p>
    <table class="table table-striped table-hover table-bordered table-responsive">
        <tr>
            <td>
                <strong>Mã Sinh viên</strong>
            </td>
            <td>
                <strong>Tên Sinh viên</strong>
            </td>
            <td>
                <strong>Điện thoại</strong>
            </td>
            <td style="width:110px">
                <strong>Số buổi vắng/ <small>Tổng số buổi</small></strong>
            </td>
        </tr>
        @foreach (var s in Model.Course.STUDENT_COURSE)
        {
            if (s.NoAbsent >= (Model.Course.NumberOfCourse / 4) && s.NoAbsent < (Model.Course.NumberOfCourse / 2))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => s.idStudent)
                    </td>
                    <td>
                        @Html.ActionLink(s.Student.S_Name, "DetailsReport", "Course", new { idStudent = s.idStudent, idCourse = Model.Course.idCourse }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => s.Student.S_Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => s.NoAbsent)/@Html.DisplayFor(modelItem => Model.CourseNo)
                    </td>
                </tr>
            }
        }

    </table>
</div>
<script src="~/Scripts/jquery.table2excel.js"></script>
<script src="~/Scripts/Chart.bundle.min.js"></script>
<script>
    $("input:checkbox:not(:checked)").each(function () {
        var column = "table ." + $(this).attr("name");
        $(column).hide();
    });

    $("input:checkbox").click(function () {
        var column = "table ." + $(this).attr("name");
        $(column).toggle();
    });
    $('#btn-export').on('click', function () {
        $('<table>').append($('#tblsum tr').clone()).table2excel({
            exclude: ".noExl",
            fileext: ".xls",
            name: "Worksheet Name",
            exclude_links: false,
            filename: "@Model.Course.idCourse - @Model.Course.CourseName"
        });
    });
    var LineChartData =
           {
               labels: [@Html.Raw(ViewBag.CourseDate)],
               datasets: [{
                   label: 'Học sinh vắng học',
                   backgroundColor: "rgba(240, 100, 100,0.4)",//"rgba(75,192,192,0.4)",
                   borderWidth: 2,
                   data: [@ViewBag.CountABS]
               }]
           };


    var ctx1 = document.getElementById("Linecanvas").getContext("2d");
    var Linecanvas = new Chart(ctx1,
        {
            type: 'line',
            data: LineChartData,
            options:
                {
                    title:
                    {
                        display: true,
                        text: "Thống kê học sinh vắng học"
                    },
                    responsive: true,
                    maintainAspectRatio: true,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                min: 0,
                                max: 50
                            }
                        }]
                    }
                }
        });

</script>
<style>
    tr:nth-child(odd) > td,
    tr:nth-child(odd) > th {
        background-color: #f9f9f9;
    }
</style>
