﻿@model FaceCheckin.Models.ViewModels.AccountViewModel.ChangePasswordViewModel
@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<input type="hidden" id="success" value="@TempData["success"]" />
<input type="hidden" id="error" value="@TempData["error"]" />
@using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @*@Html.ValidationSummary("", new { @class = "text-danger" })*@

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-sm-4">
                @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control", @type = "password",@placeholder="Mật khẩu cũ",@id="op" })
            </div>
            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })

        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-sm-4">
                @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", @type = "password", @placeholder = "Mật khẩu mới",@id="np" })
            </div>
            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })

        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-sm-4">
                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @type = "password", @placeholder = "Xác nhận mật khẩu",@id="rp" })
            </div>
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })

        </div>
        <hr />
        <div style="text-align:center">
            <button type="reset" style="margin-right:50px" class="btn btn-default">Nhập lại</button>
            <input type="submit" class="btn btn-primary" value="Lưu thay đổi" id="btnSubmit" />
        </div>
    </div>

}
<script>
    $(function () {
        if ($('#success').val()) {
            toastr.success($('#success').val());
            $("#op").val("");
            $("#np").val("");
            $("#rp").val("");
        }
        if ($('#error').val()) {
            toastr.error($('#error').val());
            $("#op").val("");
        }
    });
</script>