﻿@model FaceCheckin.Models.ViewModels.DetailsInformationVM

@{
    ViewBag.Title = "Trang cá nhân";
    ViewBag.Header = "Thông tin cá nhân";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <dl class="dl-horizontal">
        <dt>
            Họ tên:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.I_Name)
        </dd>

        <dt>
            Email:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.I_Email)
        </dd>

        <dt>
          Số điện thoại:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.I_Phone)
        </dd>

        <dt>
           Chức vụ:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleName)
        </dd>
        <dt>
          Thuộc bộ môn:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>
        <dt>
            Thuộc khoa:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacultyName)
        </dd>
        <hr />
        <dt>
           Tên đăng nhập:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
           Mật khẩu:
        </dt>

        <dd>
          @*@Html.DisplayFor(model => model.Password)*@
            <input type="password" id="secrets" style="border:none" readonly="true" value="@Model.Password" />
            <input id="cbShowHidePassword" type="checkbox" onclick="ShowHidePassword();" />
            <label class="control-label" for='cbShowHidePassword'>Hiển thị mật khẩu</label>
        </dd>
    </dl>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idAccount }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
<script type="text/javascript">
    function ShowHidePassword() {
        var txt = $('#secrets');
        if (txt.prop("type") == "password") {
            txt.prop("type", "text");
            $("label[for='cbShowHidePassword']").text("Ẩn mật khẩu");
        }
        else {
            txt.prop("type", "password");
            $("label[for='cbShowHidePassword']").text("Hiển thị mật khẩu");
        }
    }
</script>

