﻿@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Scripts/fullcalendar/fullcalendar.min.css">
<link rel="stylesheet" href="~/Scripts/fullcalendar/fullcalendar.print.css" media="print">
@if (!User.IsInRole("Thanh tra"))
{
    <div id="calendar"></div>
}
@if (User.IsInRole("Thanh tra"))
{
    <div id="calendartt"></div>
}
<!-- fullCalendar 2.2.5 -->
<script src="~/Scripts/moment/min/moment.min.js"></script>
<script src="~/Scripts/fullcalendar/fullcalendar.min.js"></script>
<script src="~/Scripts/fullcalendar/vi.js"></script>
<script>
    $(document).ready(function () {
        ////emulate server
        getCalendar();
        $('#calendartt').fullCalendar({});
        function getCalendar() {
            // var idFaculty = $("#ddlFacu").val();
            var repeatingEvents
            $.ajax
            ({
                url: '/Home/getCalendar',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                //data: JSON.stringify({
                //    //id: idFaculty
                //}),
                success: function (result) {
                    var repeatingEvents = [];
                    function fm(d) {
                        return moment((new Date(parseInt(d.match(/\d+/)[0])))).format('YYYY-MM-DD');
                    }
                    $.each($.parseJSON(result), function (i, dept) {
                        var b = {
                            title: dept.CourseName,
                            id: dept.idSchedule,
                            start: dept.StartHour, // a start time
                            end: dept.EndHour, // an end time
                            dow: [dept.DOW], // Repeat monday and thursday
                            ranges: [{
                                start: moment(dept.StartDate, 'YYYY-MM-DD'), //all of february
                                end: moment(dept.EndDate, 'YYYY-MM-DD')
                            }],
                        }
                        repeatingEvents.push(b);

                    })
                    var getEvents = function (start, end) {
                        return repeatingEvents;
                    }

                    $('#calendar').fullCalendar({
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'month,agendaWeek,agendaDay'
                        },
                        lang: 'vi',
                        defaultView: 'agendaWeek',
                        minTime: "07:00:00",
                        maxTime: "23:00:00",
                        editable: false,
                        allDaySlot: false,
                        selectablr: true,
                        slotMinutes: 5,
                        eventLimit: true,
                        buttonText: {
                            today: 'Hôm nay',
                            month: 'Tháng',
                            week: 'Tuần',
                            day: 'Ngày'
                        },
                        eventRender: function (event, element, view) {
                            //console.log(event.start.format());
                            return (event.ranges.filter(function (range) {
                                return (event.start.isBefore(range.end) &&
                                        event.end.isAfter(range.start));
                            }).length) > 0;
                        },
                        events: function (start, end, timezone, callback) {
                            var events = getEvents(start, end);
                            callback(events);
                        }
                    });

                },
                error: function () {
                    alert("Whooaaa! Something went wrong..")
                },
            });
        }
    });
</script>