﻿@using Microsoft.AspNet.Identity
@using FaceCheckin.Security
@{
    if (!User.IsInRole("Admin"))
    {
        if (Session["idAccount"] == null || Session["idIns"] == null || Session["RoleName"] == null || Session["Name"] == null || Session["idAccount"].ToString() == null)
        {
            Response.Redirect("~/Home/Login");
        }
    }
    if (User.IsInRole("Admin"))
    {
        if (Session["idAccount"] == null || Session["RoleName"] == null || Session["Name"] == null || Session["idAccount"].ToString() == null)
        {
            Response.Redirect("~/Home/Login");
        }
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="icon" href="~/favicon.ico">
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hệ thống Quản lý Điểm danh</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Content/DataTables/css/dataTables.bootstrap.css">
    <link rel="stylesheet" href="~/Content/DataTables/css/buttons.bootstrap.css">
    <link rel="stylesheet" href="~/Content/DataTables/css/buttons.dataTables.css">
    <link rel="stylesheet" href="~/Content/toastr.css">
    <link rel="stylesheet" href="~/Content/datepicker3.css">
    <link rel="stylesheet" href="~/Scripts/timepicker/bootstrap-timepicker.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Content/dist/css/skins/_all-skins.min.css">
    <!-- jQuery 2.2.3 -->
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/modalForm.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/input-mask/jquery.inputmask.js"></script>
    <script src="~/Scripts/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/Scripts/input-mask/jquery.inputmask.extensions.js"></script>
    <script src="~/Scripts/globalize.js" type="text/javascript"></script>
    <script src="~/Scripts/globalize.cultures.js" type="text/javascript"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        tfoot {
            display: table-header-group;
        }

        .modal-header {
            background-color: #337ca5;
            color: #ffffff;
        }

            .modal-header span {
                color: white;
            }

        .modal-body {
            margin: auto;
        }

        .textFaculty {
            max-width: 100%;
        }

        .form-horizontal {
            width: 90%;
            margin: auto;
        }

        .modal-footer {
            border-color: #9c9b9a;
        }

        .cus {
            margin-bottom: 0px;
        }

        /*.modal-dialog {
            top: 10%;
        }*/
    </style>

</head>
<body class="hold-transition skin-blue sidebar-mini">
    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        //var identity = ((CustomPrincipal)HttpContext.Current.User).CustomIdentity;
        //var identity = HttpContext.Current.User.ToCustomPrincipal().CustomIdentity;
    <!-- Site wrapper -->
        <div class="wrapper">
            <header class="main-header">
                <!-- Logo -->
                <a href="/Home/Index" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b>F</b>CI</span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><b>FACE</b> CHECK-IN</span>
                </a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            @*<!-- Notifications: style can be found in dropdown.less -->
                                <li class="dropdown notifications-menu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-bell-o"></i>
                                        <span class="label label-warning">10</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="header">You have 10 notifications</li>
                                        <li>
                                            <!-- inner menu: contains the actual data -->
                                            <ul class="menu">
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="footer"><a href="#">View all</a></li>
                                    </ul>
                                </li>*@
                            <!-- User Account: style can be found in dropdown.less -->
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="~/Content/Images/conco.jpg" class="user-image" alt="User Image">
                                    <span class="hidden-xs">@Session["Name"].ToString()</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- User image -->
                                    <li class="user-header">
                                        <img src="~/Content/Images/conco.jpg" class="img-circle" alt="User Image">
                                        <p>
                                            @Session["Name"].ToString()
                                            <small>Chức vụ: @Session["RoleName"].ToString()</small>
                                        </p>
                                    </li>
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="#" class="btn btn-default btn-flat">Trang cá nhân</a>
                                        </div>
                                        <div class="pull-right">
                                            @*@if (HttpContext.Current.User.Identity.IsAuthenticated)
                                                {*@
                                            <a href="@Url.Action("SignOut","Home")" class="btn btn-default btn-flat">Đăng xuất</a>
                                            @*}*@
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <!-- Control Sidebar Toggle Button -->
                            <li>
                                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- =============================================== -->
            <!-- Left side column. contains the sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="~/Content/Images/conco.jpg" class="img-circle" alt="User Image">
                        </div>
                        <div class="pull-left info">
                            <p>@Session["Name"].ToString()@*@(User.Identity.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "Guest")*@</p>
                            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        </div>
                    </div>
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li class="header">CHỨC NĂNG CHÍNH</li>
                        <li>
                            <a href="/Home/Index">
                                <i class="fa fa-home"></i> <span> Trang chính</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="/Home/Index">
                                <i class="fa fa-dashboard"></i> <span> Trang cá nhân</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                @if (!User.IsInRole("Admin"))
                                {
                                    <li><a href="/Home/DetailsInformation"><i class="fa fa-circle-o"></i> Thông tin cá nhân</a></li>
                                }
                                <li><a href="/Home/ChangePassword"><i class="fa fa-circle-o"></i> Đổi mật khẩu</a></li>
                            </ul>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li>
                                <a href="/Faculty/Index">
                                    <i class="fa fa-sitemap"></i> <span> Quản lý Khoa</span>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("Trưởng khoa") || User.IsInRole("Phó khoa"))
                        {
                            <li>
                                <a href="/Department/Index">
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <i class="fa fa-list-alt"></i> <span> Quản lý Bộ môn</span>
                                    }
                                    @if (User.IsInRole("Trưởng khoa") || User.IsInRole("Phó khoa"))
                                    {
                                        <i class="fa fa-list-alt"></i> <span> Quản lý Bộ môn thuộc Khoa</span>
                                    }
                                </a>
                            </li>
                        }
                        @if (!User.IsInRole("Thanh tra"))
                        {
                            <li class="treeview">
                                <a href="#">
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <i class="fa fa-list-ul"></i> <span> Quản lý Lớp</span>
                                    }
                                    @if (User.IsInRole("Trưởng khoa") || User.IsInRole("Phó khoa"))
                                    {
                                        <i class="fa fa-list-ul"></i> <span> Quản lý Lớp thuộc Khoa</span>
                                    }
                                    @if (User.IsInRole("Trưởng bộ môn") || User.IsInRole("Phó bộ môn"))
                                    {
                                        <i class="fa fa-list-ul"></i> <span> Quản lý Lớp thuộc Bộ môn</span>
                                    }
                                    @if (User.IsInRole("Giảng viên") || User.IsInRole("Trợ giảng"))
                                    {
                                        <i class="fa fa-list-ul"></i> <span> Quản lý Lớp thuộc quyền</span>
                                    }
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="/Classes/Index"><i class="fa fa-circle-o"></i> Lớp sinh hoạt</a></li>
                                    <li><a href="/Course/Index"><i class="fa fa-circle-o"></i> Lớp tín chỉ</a></li>
                                </ul>
                            </li>
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("Trưởng khoa") || User.IsInRole("Phó khoa") || User.IsInRole("Trưởng bộ môn") || User.IsInRole("Phó bộ môn"))
                        {
                            <li>
                                <a href="/Instructor/Index">
                                    <i class="fa fa-group"></i> <span> Quản lý Giảng viên</span>
                                </a>
                            </li>
                        }
                        @if (!User.IsInRole("Thanh tra"))
                        {
                            <li>
                                <a href="/Student/Index">
                                    <i class="fa fa-graduation-cap"></i> <span> Quản lý Sinh viên</span>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li>
                                <a href="/Account/Index">
                                    <i class="fa fa-unlock-alt"></i> <span> Quản lý Tài khoản</span>
                                </a>
                            </li>
                        }
                        <li>
                            <a href="/Statistic/Index">
                                <i class="fa fa-bar-chart"></i> <span> Thống kê & Báo cáo</span>
                            </a>
                        </li>
                        <li class="header">TIỆN ÍCH</li>
                        <li><a href="/Download/DownloadApp"><i class="fa fa-download text-aqua"></i> <span>Tải ứng dụng</span></a></li>

                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>
            <!-- =============================================== -->
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        @ViewBag.Title
                        @*<small>it all starts here</small>*@
                    </h1>
                </section>
                <!-- Main content -->
                <section class="content">
                    <!-- Default box -->
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">@ViewBag.Header</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body">
                            @RenderBody()
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            @*Footer*@
                        </div>
                        <!-- /.box-footer-->
                    </div>
                    <!-- /.box -->
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            <footer class="main-footer">
                <div class="pull-right hidden-xs">
                    <b>Version</b> 1.0
                </div>
                Hệ thống quản lý điểm danh
            </footer>
            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Create the tabs -->
                <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                    <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <!-- Home tab content -->
                    <div class="tab-pane" id="control-sidebar-home-tab">
                        <h3 class="control-sidebar-heading"></h3>
                        <!-- /.control-sidebar-menu -->
                    </div>
                    <!-- /.tab-pane -->
                    <!-- Stats tab content -->
                    <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                    <!-- /.tab-pane -->
                </div>
            </aside>
            <!-- /.control-sidebar -->
            <!-- Add the sidebar's background. This div must be placed
                 immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>
        </div>
    }
    <!-- ./wrapper -->
    <!-- Bootstrap 3.3.6 -->
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/Scripts/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Scripts/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/dist/js/app.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Content/dist/js/demo.js"></script>
    <!--DataTables -->
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables/dataTables.jqueryui.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/DataTables/dataTables.buttons.js"></script>
    <script src="~/Scripts/jszip.js"></script>
    <script src="~/Scripts/DataTables/buttons.html5.js"></script>
    <script src="~/Scripts/DataTables/buttons.flash.js"></script>
    <script src="~/Scripts/DataTables/buttons.print.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.columnFilter.js"></script>
    <script src="~/Scripts/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/bootbox.js"></script>
    <script src="~/Scripts/respond.js"></script>
    <script src="~/Scripts/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Scripts//timepicker/bootstrap-timepicker.min.js"></script>
</body>
</html>