﻿@model FaceCheckin.Models.ViewModels.AccountVM
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="MyModalTitle">Cập nhật thông tin tài khoản</h4>
</div>
<style>
    .modal .modal-dialog {
        width: 40%;
    }
</style>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "EditAccount" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-body">
        <div class="form-horizontal">
            @Html.HiddenFor(m => m.Account.idAccount)

            <div class="form-group cus">
                @Html.LabelFor(m => m.Account.idAccount, htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-list-ol"></i></span>
                    @Html.TextBoxFor(m => m.Account.idAccount, new { @class = "form-control", @placeholder = "Mã tài khoản", @readonly = true })
                </div>
                @Html.ValidationMessageFor(m => m.Account.idAccount, "", new { @class = "text-danger" })

            </div>
            <div class="form-group cus">
                @Html.LabelFor(m => m.Account.UserName, htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-align-center"></i></span>
                    @Html.TextBoxFor(m => m.Account.UserName, new { @class = "form-control", @placeholder = "Tài khoản", @readonly = true })
                </div>
                @Html.ValidationMessageFor(m => m.Account.UserName, "", new { @class = "text-danger" })

            </div>
            <div class="form-group cus">
                @Html.LabelFor(m => m.Account.Password, htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    @Html.TextBoxFor(m => m.Account.Password, new { @class = "form-control", @placeholder = "Mật khẩu" })
                </div>
                @Html.ValidationMessageFor(m => m.Account.Password, "", new { @class = "text-danger" })

            </div>
            <div class="form-group cus">
                <label class="control-label">Chức vụ</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-users"></i></span>
                    @Html.DropDownListFor(model => model.Account.idRole, (SelectList)ViewBag.RoleList, new { @class = "form-control"})
                </div>
            </div>
            <div class="form-group cus">
                <label class="control-label">Trạng thái</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-check-square-o"></i></span>
                    @Html.DropDownListFor(model => model.Account.Status, (SelectList)ViewBag.status, new { @class = "form-control"})
                </div>
                @Html.ValidationMessageFor(m => m.Account.Status, "", new { @class = "text-danger" })

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
        <input type="submit" class="btn btn-primary" value="Lưu thay đổi" id="btnSubmit" />
    </div>
}

<script>
    $(document).ready(function () {
        $.validator.unobtrusive.parse('#EditAccount');
        $("#btnSubmit").click(function () {
            if (!$("#EditAccount").valid()) {
                return false;
            }
        });
    });
</script>
