﻿@model FaceCheckin.Models.ViewModels.AccountVM

@{
    ViewBag.Title = "Quản lý Người dùng";
    ViewBag.Header = "Danh sách Người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="MyModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="MyModalContent"></div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<br />
<div>
    <table id="tblAccounts" style="width:100%" class="table table-striped table-hover table-bordered table-responsive">
        <thead>
            <tr>
                <th>STT</th>
                <th>Mã tài khoản</th>
                <th>Tên đăng nhập</th>
                <th>Mật khẩu</th>
                <th>Giảng viên</th>
                <th>Chức vụ</th>
                <th>Trạng thái</th>
                @* <th>Role</th>*@
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th id="tht">Tên đăng nhập</th>
                <th></th>
                <th id="tht">Giảng viên</th>
                <th id="tht">Chức vụ</th>
                <th></th>
                @*<th id="tht">Role</th>*@
                <th></th>
                @*<th></th>*@
            </tr>
        </tfoot>
    </table>
</div>
<style>
    /*Buttons to Right Side*/
    div.dt-buttons {
        float: right;
        position: relative;
        margin-left: 10px;
    }
    /*Table Info to right*/
    div.dataTables_wrapper div.dataTables_info {
        float: left;
        padding-top: 8px;
        white-space: nowrap;
    }
</style>
<script>
    var table;

    $(document).ready(function () {
        $('#tblAccounts tfoot #tht').each(function () {
            var title = $(this).text();
            $(this).html('<input class="FClass form-control" style="width:inherit;" type="text" id="' + title.replace(' ', '_') + '" placeholder="' + title + '" />');
        });
        table = $('#tblAccounts').DataTable({
            "ordering": true,
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "Tất cả"]],
            "pagingType": "full_numbers",
            "dom": 'Blrtip', // Hides Default Search
            "processing": true,
            "serverSide": true,
            "orderMulti": false,

            "ajax": {
                "url": "/Account/getAccounts",
                "type": "POST",
                "datatype": "json"
            },
            "language": {
                "lengthMenu": "Hiển thị _MENU_ bản ghi trong một trang",
                "emptyTable": "Chưa có dữ liệu",
                "info": "Trang thứ _PAGE_ trong tổng số _PAGES_ trang",
                "infoEmpty": "Trống",
                "paginate": {
                    "first": "Đầu tiên",
                    "last": "Cuối cùng",
                    "next": "Trước",
                    "previous": "Sau"
                },
            },
            //buttons: ['copyHtml5', 'excelHtml5', 'csvHtml5', 'pdfHtml5', 'print'],
            buttons: [
                        {
                            extend: 'copyHtml5',
                            text: '<i class="fa fa-files-o"></i>',
                            titleAttr: 'Copy'
                        },
                        {
                            extend: 'excelHtml5',
                            text: '<i class="fa fa-file-excel-o"></i>',
                            titleAttr: 'Xuất ra Excel',
                            title: 'Danh sách Người dùng',
                            customize: function (xlsx) {
                                var sheet = xlsx.xl.worksheets['sheet1.xml'];

                                //$('row c[r^="C"]', sheet).attr('s', '2');//Bold All rows of a column
                                $('row c[r*="3"]', sheet).attr('s', '25');
                            },
                            exportOptions: {
                                columns: [1, 2, 3, 4, 5,6]
                            }
                        },
                        {
                            extend: 'csvHtml5',
                            text: '<i class="fa fa-file-text-o"></i>',
                            titleAttr: 'Xuất ra CSV',
                            title: 'Danh sách Người dùng',
                            exportOptions: {
                                columns: [1, 2, 3, 4, 5, 6]
                            }
                        },
                        {
                            extend: 'pdfHtml5',
                            text: '<i class="fa fa-file-pdf-o"></i>',
                            titleAttr: 'Xuất ra PDF',
                            title: 'Danh sách Người dùng',
                            exportOptions: {
                                columns: [1, 2, 3, 4, 5, 6]
                            }
                        },
                        {
                            extend: 'print',
                            text: '<i class="fa fa-print"></i>',
                            titleAttr: 'PRINT',
                            title: 'Danh sách Người dùng',
                            exportOptions: {
                                columns: [1, 2, 3, 4, 5, 6]
                            }
                        }
            ],
            "fnDrawCallback": function (oSettings) {
                var count = $("#tblAccounts").dataTable().fnSettings().aoData.length;
                if (count != 0) {
                    $(this).find('tbody tr').each(function (index) {
                        $(this).find('td').first(0).text(index + 1);
                    });
                }
            },
            "aoColumnDefs": [
                { "bSortable": false, "aTargets": [0] }
            ],
            "aaSorting": [[1, 'asc']],
            "aoColumns": [
                 {
                     "data": null, "autoWidth": false,
                     "sWidth": "5px"
                 }, {
                     "data": "idAccount", "autoWidth": false,
                     "sWidth": "5px"
                 },
                {
                    "data": "UserName", "autoWidth": false,
                    "sWidth": "100px"
                },
                {
                    "data": "Password", "autoWidth": false,
                    "sWidth": "100px"
                },
                 {
                     "data": "I_Name", "autowidth": false,
                     "swidth": "100px"
                 },
                {
                    "data": "RoleName", "autowidth": false,
                    "swidth": "50px"
                },
                {
                    "data": "Status", "autoWidth": false,
                    "render": function (data, type, row) {
                        return (data === true) ? '<span class="label label-success">Hoạt động</span>' : '<span class="label label-danger">Bị khóa</span>';
                    },
                    "sWidth": "50px"
                },
                {
                    "data": null,
                    "targets": -1,
                    "render": function (data, type, full) {
                        return "<a  onclick='Edit(" + full['idAccount'] + ")' id='btnEdit" + full['idAccount'] + "' class='btn btn-success btn-xs'>Chỉnh sửa</a>";
                    },
                    "bSearchable": true,
                    "sortable": false,
                    "autoWidth": false,
                    "sWidth": "50px"
                }


            ]
        });
        table.columns().every(function () {
            var that = this;
            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
    });

    var Edit = function (idAccount) {
        $.ajaxSetup({ cache: false });
        var EditUrl = "/Account/Edit/" + idAccount;
        $("#MyModalContent").load(EditUrl, function () {
            $("#MyModal").modal({
                //backdrop: 'static',
                keyboard: false
            }, 'show');
            bindForm(this);
        });
        return false;
    }

</script>


