﻿@model FaceCheckin.Models.DB.Class
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="MyModalTitle">Thêm mới Lớp</h4>
</div>
<style>
    .modal .modal-dialog {
        width: 40%;
    }
</style>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "CreateClass" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-body">

        <div class="form-horizontal">
            <div class="form-group cus">
                <label class="control-label">Thuộc bộ môn</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-list-ul"></i></span>
                    @Html.TextBoxFor(m => m.DepartmentName, new { @class = "form-control", @id = "clss", @readonly = true})
                </div>
                @Html.ValidationMessageFor(m => m.DepartmentName, "", new { @class = "text-danger" })

            </div>
            @Html.HiddenFor(m => m.idDepartment, new { @id = "idd" })
            <div class="form-group cus">
                @Html.LabelFor(m => m.idClass, htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-list-ol"></i></span>
                    @Html.TextBoxFor(m => m.idClass, new { @class = "form-control", @placeholder = "Mã lớp" })
                </div>
                @Html.ValidationMessageFor(m => m.idClass, "", new { @class = "text-danger" })

            </div>
            <div class="form-group cus">
                @Html.LabelFor(m => m.ClassName, htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-align-center"></i></span>
                    @Html.TextBoxFor(m => m.ClassName, new { @class = "form-control", @placeholder = "Tên lớp" })
                </div>
                @Html.ValidationMessageFor(m => m.ClassName, "", new { @class = "text-danger" })

            </div>
            <div class="form-group cus">
                @Html.LabelFor(m => m.SchoolYear, htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    @Html.TextBoxFor(m => m.SchoolYear, new { @class = "form-control", @id = "datemask" })
                </div>
                @Html.ValidationMessageFor(m => m.SchoolYear, "", new { @class = "text-danger" })

            </div>
            <div class="form-group cus">
                <label class="control-label">GV cố vấn</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user-secret"></i></span>
                    @Html.DropDownListFor(m => m.idInstructor,
new SelectList(Enumerable.Empty<SelectListItem>(), "idInstructor", "I_Name"),
                       new { @class = "form-control", @id = "ddlIns" })
                </div>
                @Html.ValidationMessageFor(m => m.idInstructor, "", new { @class = "text-danger" })

            </div>
        </div>
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
        <input type="submit" class="btn btn-primary" value="Thêm mới" id="btnSubmit" />
    </div>
}

<script>
    $(document).ready(function () {
        getInsList();
        $.validator.unobtrusive.parse('#CreateClass');
        $("#btnSubmit").click(function () {
            if (!$("#CreateClass").valid()) {
                return false;
            }
            console.log($("#ddlDept").val());
        });
        $("#datemask").inputmask("2099-2099", { placeholder: "20__-20__" });
    });
    function getInsList() {
        var idDepartment = $("#idd").val();
        $.ajax
       ({
           url: '/Classes/getInsList',
           type: 'POST',
           datatype: 'application/json',
           contentType: 'application/json',
           data: JSON.stringify({
               id: idDepartment
           }),
           success: function (result) {
               $("#ddlIns").html("");
               $.each($.parseJSON(result), function (i, dept) {
                   $("#ddlIns").append($('<option></option>').val(dept.idInstructor).html(dept.I_Name))
               })
           },
           error: function () {
               alert("Whooaaa! Something went wrong..")
           },
       });
    }
</script>
