﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="MyModalTitle">Thêm mới sinh viên vào lớp bằng Excel</h4>
</div>
<style>
    .modal .modal-dialog {
        width: 50%;
    }

    .tht {
        background-color: #b3e0ff;
    }

    ul.ui-front {
        z-index: 1100;
    }
</style>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "crtForm", enctype = "multipart/form-data"}))
{
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group cus">
                Định dạng file Excel theo mẫu sau:
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="tht">
                                Mã sinh viên
                            </th>
                            <th class="tht">
                                Họ tên sinh viên
                            </th>
                            <th class="tht">
                               Ngày sinh
                            </th>
                            <th class="tht">
                                Email
                            </th>
                            <th class="tht">
                                Số điện thoại
                            </th>
                            <th class="tht">
                                Lớp sinh hoạt
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group cus">
                <div>
                    <small>HOẶC</small> Tải về định dạng Excel mẫu:&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/Student/DownloadExcel/"><img src="~/Content/Images/excel.jpg" width="25" height="25" title="Tải về định dạng Excel mẫu" alt="excel" /></a>
                </div>
            </div>
            <hr />
            <div class="form-group cus">
                <label>Chọn file danh sách sinh viên:</label><br />
                <input type="file" name="file" id="file" />
            </div>
            
            
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
        <input type="submit" value="Thêm mới" id="btnSubmit" class="btn btn-primary" />
    </div>
}
<script>
    $(document).ready(function () {
        $.validator.unobtrusive.parse('#crtForm');
        $("#btnSubmit").click(function (e) {
            e.preventDefault();
            var $file = document.getElementById('file'), $formData = new FormData();

            if ($file.files.length > 0) {
                for (var i = 0; i < $file.files.length; i++) {
                    $formData.append('file-' + i, $file.files[i]);
                }
            }
            $.ajax({
                url: '/Classes/AddListStudentToClassFromExcel',
                type: 'POST',
                data: $formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function ($data) {
                    if ($data.success) {
                        $("#MyModal").modal('hide');
                        toastr.success($data.message);
                        table.draw();
                    }
                    else {
                        toastr.error($data.ErrorMessage);
                    }
                }
            });
        });
    });

    //function CheckFileName() {
    //    var fileName = document.getElementById("FileUpload").value
    //    //debugger;
    //    if (fileName == "") {
    //        alert("Browse to upload a valid File with xls / xlsx extension");
    //        return false;
    //    }
    //    else if (fileName.split(".")[1].toUpperCase() == "XLS" || fileName.split(".")[1].toUpperCase() == "XLSX")
    //        return true;
    //    else {
    //        alert("File with " + fileName.split(".")[1] + " is invalid. Upload a validfile with xls / xlsx extensions");
    //        return false;
    //    }
    //    return true;
    //}
</script>
