﻿@model FaceCheckin.Models.ViewModels.ClassesVM
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="MyModalTitle">Chỉnh sửa thông tin Lớp</h4>
</div>
<style>
    .modal .modal-dialog {
        width: 40%;
    }
</style>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "EditClass" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="form-horizontal">
            @Html.HiddenFor(m => m.Class.idDepartment)

            @*<div class="form-group cus">
                <label class="control-label">Thuộc bộ môn</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-road"></i></span>
                    @Html.DropDownListFor(model => model.Class.idDepartment, (SelectList)ViewBag.DeptList, new { @class = "form-control", @id = "ddlDept", @onchange = "getInsList()" })
                </div>
            </div>*@
            <div class="form-group cus">
                @Html.LabelFor(m => m.Class.idClass, new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-list-ol"></i></span>
                    @Html.TextBoxFor(m => m.Class.idClass, new { @class = "form-control", @placeholder = "Mã lớp", @readonly = true })
                </div>
                @Html.ValidationMessageFor(m => m.Class.idClass)

            </div>
            <div class="form-group cus">
                @Html.LabelFor(m => m.Class.ClassName, htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-align-center"></i></span>
                    @Html.TextBoxFor(m => m.Class.ClassName, new { @class = "form-control", @placeholder = "Tên lớp" })
                </div>
                @Html.ValidationMessageFor(m => m.Class.ClassName, "", new { @class = "text-danger" })

            </div>
            <div class="form-group cus">
                @Html.LabelFor(m => m.Class.SchoolYear, htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    @Html.TextBoxFor(m => m.Class.SchoolYear, new { @class = "form-control", @id = "datemask" })
                </div>
                @Html.ValidationMessageFor(m => m.Class.SchoolYear, "", new { @class = "text-danger" })

            </div>
            <div class="form-group cus">
                <label class="control-label">GV đứng lớp</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user-secret"></i></span>
                    @*@Html.DropDownListFor(model => model.Course.idInstructor, (SelectList)ViewBag.InsList, new { @class = "form-control", @id = "ddlIns"/*, @disabled = "disabled" */})*@
                    @Html.DropDownListFor(m => m.Class.idInstructor, new SelectList(Model.Instructors, "idInstructor", "I_Name"), htmlAttributes: new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.Class.idInstructor, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
        <input type="submit" class="btn btn-primary" value="Lưu thay đổi" id="btnSubmit" />
    </div>
}

<script>
    //getInsList();
    $(document).ready(function () {
        $.validator.unobtrusive.parse('#EditClass');
        $("#btnSubmit").click(function () {
            if (!$("#EditClass").valid()) {
                return false;
            }
        });
        $("#datemask").inputmask("2099-2099", { placeholder: "20__-20__" });
    });
    //function getInsList() {
    //    debugger;
    //    var idDepartment = $("#ddlDept").val();
    //    $.ajax
    //   ({
    //       url: '/Classes/getInsList',
    //       type: 'POST',
    //       datatype: 'application/json',
    //       contentType: 'application/json',
    //       data: JSON.stringify({
    //           id: idDepartment
    //       }),
    //       success: function (result) {
    //           $("#ddlIns").html("");
    //           $.each($.parseJSON(result), function (i, dept) {
    //               $("#ddlIns").append($('<option></option>').val(dept.idInstructor).html(dept.I_Name))
    //           })
    //       },
    //       error: function () {
    //           alert("Whooaaa! Something went wrong..")
    //       },
    //   });
    //}
</script>