﻿@model FaceCheckin.Models.DB.Class

@{
    ViewBag.Header = "Danh sách Học sinh thuộc Lớp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /*Buttons to Right Side*/
    div.dt-buttons {
        float: right;
        position: relative;
        margin-left: 10px;
    }
    /*Table Info to right*/
    div.dataTables_wrapper div.dataTables_info {
        float: left;
        padding-top: 8px;
        white-space: nowrap;
    }
</style>
<div id="MyModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="MyModalContent"></div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<dl class="dl-horizontal" style="margin-bottom:10px">
    <dt style="text-align: left; width: 130px">
        <label>Mã lớp sinh hoạt: </label>
    </dt>
    <dd style="margin-left:0px">
        <p> @Html.DisplayFor(model => model.idClass)</p>
    </dd>
    <dt style="text-align: left; width: 130px">
        <label>Tên lớp sinh hoạt: </label>
    </dt>
    <dd style="margin-left:0px">
        <p> @Html.DisplayFor(model => model.ClassName, new { @id = "idstd" })</p>
    </dd>
</dl>
<p style="margin-bottom:5px">
    <div class="btn-group">
        <button type="button" class="btn btn-primary">Thêm sinh viên vào lớp</button>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a id="btncr" href="#">Thêm từng sinh viên</a></li>
            <li>@Html.ActionLink("Nhập bằng Excel", "AddListStudentToClassFromExcel", null, new { data_modal = "" })</li>
        </ul>
    </div>
</p>
<div>
    <table id="tblStudent" style="width:100%" class="table table-striped table-hover table-bordered table-responsive">
        <thead>
            <tr>
                <th>STT</th>
                <th>Mã sinh viên</th>
                <th>Tên sinh viên</th>
                <th>Ngày sinh</th>
                <th>Email</th>
                <th>Điện thoại</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th id="tht">Mã Sinh viên</th>
                <th id="tht">Tên Sinh viên</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>
<p>
    <button class="buttonPrevious btn btn-primary" style="margin-top: 20px" onclick="goBack()">Trở về</button>
</p>
<script>
    var table;
    $(document).ready(function () {
        $('#tblStudent tfoot #tht').each(function () {
            var title = $(this).text();
            $(this).html('<input class="FClass form-control" style="width:inherit;" type="text" id="' + title.replace(' ', '_') + '" placeholder="Tìm kiếm theo ' + title + '" />');
        });
        table = $('#tblStudent').DataTable({
            "ordering": true,
            "lengthMenu": [[25, 50, -1], [25, 50, "Tất cả"]],
            "pagingType": "full_numbers",
            "dom": 'Blrtip', // Hides Default Search
            "processing": true,
            "serverSide": true,
            "orderMulti": false,

            "ajax": {
                "url": "/Classes/getDetails",
                "type": "POST",
                "datatype": "json",
                "data": {
                    id: "@Model.idClass"
                }
            },
            "language": {
                "lengthMenu": "Hiển thị _MENU_ bản ghi trong một trang",
                "emptyTable": "Chưa có dữ liệu",
                "info": "Trang thứ _PAGE_ trong tổng số _PAGES_ trang",
                "infoEmpty": "Trống",
                "paginate": {
                    "first": "Đầu tiên",
                    "last": "Cuối cùng",
                    "next": "Trước",
                    "previous": "Sau"
                },
            },
            buttons: [
                        {
                            extend: 'copyHtml5',
                            text: '<i class="fa fa-files-o"></i>',
                            titleAttr: 'Copy'
                        },
                        {
                            extend: 'excelHtml5',
                            text: '<i class="fa fa-file-excel-o"></i>',
                            titleAttr: 'Excel',
                            title: 'Danh sách sinh viên thuộc lớp',
                            customize: function (xlsx) {
                                var sheet = xlsx.xl.worksheets['sheet1.xml'];
                                $('row c[r*="3"]', sheet).attr('s', '25');
                            }
                        },
                        {
                            extend: 'csvHtml5',
                            text: '<i class="fa fa-file-text-o"></i>',
                            titleAttr: 'CSV',
                            title: 'Danh sách sinh viên thuộc lớp'
                        },
                        {
                            extend: 'pdfHtml5',
                            text: '<i class="fa fa-file-pdf-o"></i>',
                            titleAttr: 'PDF',
                            title: 'Danh sách sinh viên thuộc lớp'
                        },
                        {
                            extend: 'print',
                            text: '<i class="fa fa-print"></i>',
                            titleAttr: 'PRINT',
                            title: 'Danh sách sinh viên thuộc lớp'
                        }
            ],
            "fnDrawCallback": function (oSettings) {
                var count = $("#tblStudent").dataTable().fnSettings().aoData.length;
                if (count != 0) {
                    $(this).find('tbody tr').each(function (index) {
                        $(this).find('td').first(0).text(index + 1);
                    });
                }
            },
            "aoColumnDefs": [
                { "bSortable": false, "aTargets": [0] }
            ],
            "aaSorting": [[1, 'asc']],
            "aoColumns": [
                 {
                     "data": null, "autoWidth": true,
                     "sWidth": "30px"
                 },
                {
                    "data": "idStudent", "autoWidth": false,
                    "sWidth": "200px"
                },
               {
                   "data": "S_Name", "autoWidth": false, "mRender": function (data, type, full) {
                       var id = '"' + full['idStudent'] + '"';
                       var name = full['S_Name'];
                       return '<a href=' +
                          '@Url.Action("Summary", "Classes")/' + full['idStudent'] +
                          '>' + name + '</a>';
                   }
               },
                  {
                      "data": "S_Dob", "autoWidth": false,
                      "render": function (data, type, full) {
                          var data1 = data.replace("/Date(", "").replace(")/", "");
                          var date = new Date(parseInt(data1));
                          var month = date.getMonth() + 1;
                          return (date.getDate().toString().length > 1 ? date.getDate() : "0" + date.getDate()) + "/" + (month.toString().length > 1 ? month : "0" + month) + "/" + date.getFullYear();
                      },
                      "sWidth": "100px"
                  },
                  {
                      "data": "S_Email", "autoWidth": false,
                      "sWidth": "120px"
                  },
                  {
                      "data": "S_Phone", "autoWidth": false,
                      "sWidth": "120px"
                  }
            ]
        });
        table.columns().every(function () {
            var that = this;
            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
    });
    function goBack() {
        window.history.back();
    }
    $("#btncr").click(function () {
        var productId = '@Model.idClass';
        var url = '@Url.Action("CreateNewStudent", "Classes", new { parameterID = "-1" })';
        url = url.replace("-1", productId);
        $("#MyModalContent").load(url, function () {
            $("#MyModal").modal({
                keyboard: false
            }, 'show');
            bindForm(this);
        });
        return false;
    });
</script>