﻿@model FaceCheckin.Models.DB.Class

@{
    ViewBag.Title = "Quản lý Lớp sinh hoạt";
    ViewBag.Header = "Danh sách Lớp sinh hoạt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="MyModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="MyModalContent"></div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="form-group">
    <label class="control-label">Thuộc khoa</label>
    <select id="ddlFacu" class="form-control" style="width:30%" onchange="getDeptList()">
        @foreach (var item in ViewBag.FacuList)
        {
            <text>
                <option value="@item.idFaculty">@item.FacultyName</option>
            </text>
        }

    </select>
</div>

<div class="form-group">
    <label class="control-label">Thuộc bộ môn</label>
    @Html.DropDownListFor(m => m.Departments,
       new SelectList(Enumerable.Empty<SelectListItem>(), "idDepartment", "DepartmentName"),
                       new { @class = "form-control", style = "width:30%", @id = "ddlDept" })
    @Html.ValidationMessageFor(m => m.Departments, "", new { @class = "text-danger" })

</div>
<div class="form-group">
    <label class="control-label">Năm học</label>
    <select id="ddSch" class="form-control" style="width:30%">
        @foreach (var item in ViewBag.SchList)
        {
            <text>
                <option value="@item.SchoolYear">@item.SchoolYear</option>
            </text>
        }

    </select>
</div>
<input type="hidden" id="dept-id" />
@if (User.IsInRole("Admin") || User.IsInRole("Trưởng khoa") || User.IsInRole("Trưởng bộ môn"))
{
    <p>
        <button id="btncr" title="Thêm mới lớp" class="btn btn-primary" style="text-align:right">&nbsp;&nbsp;Thêm mới lớp</button>
    </p>
}
<div>
    <table id="tblClasses" style="width:100%" class="table table-striped table-hover table-bordered table-responsive">
        <thead>
            <tr>
                <th>STT</th>
                <th>Mã lớp</th>
                <th>Tên lớp</th>
                <th>Giảng viên cố vấn</th>
                <th>Thuộc bộ môn</th>
                <th>Năm học</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th id="tht">Mã lớp</th>
                <th id="tht">Tên lớp</th>
                <th id="tht">Giảng viên cố vấn</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>
<style>
    /*Buttons to Right Side*/
    div.dt-buttons {
        float: right;
        position: relative;
        margin-left: 10px;
    }
    /*Table Info to right*/
    div.dataTables_wrapper div.dataTables_info {
        float: left;
        padding-top: 8px;
        white-space: nowrap;
    }
</style>
<script>
    var table;
    var RoleCheck = @(User.IsInRole("Admin")? "true" : "false")

    $(document).ready(function () {
        getDeptList();
        //FillDept();
        $('#tblClasses tfoot #tht').each(function () {
            var title = $(this).text();
            $(this).html('<input class="FClass form-control" style="width:inherit;" type="text" id="' + title.replace(' ', '_') + '" placeholder="Tìm kiếm theo ' + title + '" />');
        });
        table = $('#tblClasses').DataTable({
            "ordering": true,
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "Tất cả"]],
            "pagingType": "full_numbers",
            "dom": 'Blrtip', // Hides Default Search
            //"dom": 'Bflrtip', // Default Search + Buttons
            "processing": true,
            "serverSide": true,
            "orderMulti": false,

            "ajax": {
                "url": "/Classes/getClasses",
                "type": "POST",
                "datatype": "json"
            },
            "language": {
                "lengthMenu": "Hiển thị _MENU_ bản ghi trong một trang",
                "emptyTable": "Chưa có dữ liệu",
                "info": "Trang thứ _PAGE_ trong tổng số _PAGES_ trang",
                "infoEmpty": "Trống",
                "paginate": {
                    "first": "Đầu tiên",
                    "last": "Cuối cùng",
                    "next": "Trước",
                    "previous": "Sau"
                },
            },
            //buttons: ['copyHtml5', 'excelHtml5', 'csvHtml5', 'pdfHtml5', 'print'],
            buttons: [
                        {
                            extend: 'copyHtml5',
                            text: '<i class="fa fa-files-o"></i>',
                            titleAttr: 'Copy'
                        },
                        {
                            extend: 'excelHtml5',
                            text: '<i class="fa fa-file-excel-o"></i>',
                            titleAttr: 'Xuất ra Excel',
                            title: 'Danh sách Lớp sinh hoạt',
                            customize: function (xlsx) {
                                var sheet = xlsx.xl.worksheets['sheet1.xml'];

                                //$('row c[r^="C"]', sheet).attr('s', '2');//Bold All rows of a column
                                $('row c[r*="3"]', sheet).attr('s', '25');
                            },
                            exportOptions: {
                                columns: [1, 2, 3,4,5]
                            }
                        },
                        {
                            extend: 'csvHtml5',
                            text: '<i class="fa fa-file-text-o"></i>',
                            titleAttr: 'Xuất ra CSV',
                            title: 'Danh sách Lớp sinh hoạt',
                            exportOptions: {
                                columns: [1, 2, 3,4,5]
                            }

                        },
                        {
                            extend: 'pdfHtml5',
                            text: '<i class="fa fa-file-pdf-o"></i>',
                            titleAttr: 'Xuất ra PDF',
                            title: 'Danh sách Lớp sinh hoạt',
                            exportOptions: {
                                columns: [1, 2, 3,4,5]
                            }
                        },
                        {
                            extend: 'print',
                            text: '<i class="fa fa-print"></i>',
                            titleAttr: 'PRINT',
                            title: 'Danh sách Lớp sinh hoạt',
                            exportOptions: {
                                columns: [1, 2, 3,4,5]
                            }
                        }
            ],
            "fnDrawCallback": function (oSettings) {
                var count = $("#tblClasses").dataTable().fnSettings().aoData.length;
                if (count != 0) {
                    $(this).find('tbody tr').each(function (index) {
                        $(this).find('td').first(0).text(index + 1);
                    });
                }
            },
            "aoColumnDefs": [
                { "bSortable": false, "aTargets": [0] }
            ],
            "aaSorting": [[1, 'asc']],
            "aoColumns": [
                 {
                     "data": null, "autoWidth": false,
                     "sWidth": "30px"
                 },
                {
                    "data": "idClass", "autoWidth": false,
                    "sWidth": "80px"
                },
                {
                    "data": "ClassName", "autoWidth": false, "mRender": function (data, type, full) {
                        var id = '"' + full['idClass'] + '"';
                        var name = full['ClassName'];
                        return '<a href=' +
                           '@Url.Action("Details", "Classes")/' + full['idClass'] +
                           '>' + name + '</a>';
                    }
                },
                  {
                      "data": "InstructorName", "autoWidth": false,
                      "sWidth": "100px"
                  }, {
                      "data": "DepartmentName", "autoWidth": false,
                      "sWidth": "180px"
                  },
                  {
                      "data": "SchoolYear", "autoWidth": false,
                      "sWidth": "200px",
                      "visible": false
                  },
                {
                    "data": null,
                    "targets": -1,
                    "render": function (data, type, full) {
                        // console.log(data,type,full);
                        return "<a  onclick='Edit(" + '"' + full['idClass'] + '"' + ")' id='btnEdit" + "`" + full['idClass'] + "`" + "' class='btn btn-success btn-xs'>Chỉnh sửa</a>";
                    },
                    "bSearchable": true,
                    "sortable": false,
                    "autoWidth": false,
                    "sWidth": "50px", "visible": @(User.IsInRole("Giảng viên") || User.IsInRole("Trợ giảng") ? "false" : "true")
                    },
                {
                    "data": null,
                    "targets": -1,
                    "render": function (data, type, full) {
                        // console.log(data,type,full);
                        return " <a onclick='Delete(" + '"' + full['idClass'] + '"' + ")' class='btn btn-danger btn-xs'>Xóa</a>";
                    },
                    "bSearchable": true,
                    "sortable": false,
                    "autoWidth": false,
                    "sWidth": "30px", "visible": RoleCheck
                }
            ]
        });


        table.columns().every(function () {
            var that = this;
            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
    });
    $('#ddlFacu').change(function () {
        //hit search on server
        table.draw();
    });
    $("#btncr").click(function () {
        var productId = $("#dept-id").val();
        var url = '@Url.Action("Create", "Classes", new { parameterID = "-1" })';
        url = url.replace("-1", productId);
        $("#MyModalContent").load(url, function () {
            $("#MyModal").modal({
                keyboard: false
            }, 'show');
            bindForm(this);
        });
        return false;
    });
    $('#ddlDept').change(function () {
        var idcls = $('#ddlDept').find('option:selected').val()
        $("#dept-id").val(idcls);
        table.columns(4).search($('#ddlDept').find('option:selected').text());
        table.columns(5).search($('#ddSch').find('option:selected').text());
        //hit search on server
        table.draw();
    });
    $('#ddSch').change(function () {
        table.columns(4).search($('#ddlDept').find('option:selected').text());
        table.columns(5).search($('#ddSch').find('option:selected').text());
        //hit search on server
        table.draw();
    });
    var Edit = function (idClass) {
        $.ajaxSetup({ cache: false });
        var EditUrl = "/Classes/Edit/" + idClass;
        $("#MyModalContent").load(EditUrl, function () {
            $("#MyModal").modal({
                //backdrop: 'static',
                keyboard: false
            }, 'show');
            bindForm(this);
        });
        return false;
    }

    //#region Delete

    var Delete = function (idClass) {
        var Msg = "";
        $.ajax({
            url: "/Classes/getClassDetails",
            type: "GET",
            data: { id: idClass },
            success: function (result) {
                // console.log(idFaculty);
                Msg = "Tên lớp : <b>" + result[0].ClassName + "</b>";


                bootbox.confirm({
                    title: "Xác nhận xóa Lớp:",
                    message: Msg,
                    buttons: {
                        confirm: {
                            label: 'Xóa',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'Đóng',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            deleteConfirmed(idClass);
                        }
                    }
                });

            },
            error: function (error) {
                console.log(error);
                alert(error)
            }
        });
    }

    var deleteConfirmed = function (idClass) {
        $.ajax({
            url: "/Classes/deleteConfirmed",
            type: "GET",
            data: { id: idClass },
            success: function (result) {

                toastr.success(result + '!');
                table.draw();
            },
            error: function (error) {
                console.log(error);
                alert(error)
            }
        });

    }
    function getDeptList() {
        var idFaculty = $("#ddlFacu").val();
        $.ajax
        ({
            url: '/Classes/getDeptList',
            type: 'POST',
            datatype: 'application/json',
            contentType: 'application/json',
            data: JSON.stringify({
                id: idFaculty
            }),
            success: function (result) {
                $("#ddlDept").html("");
                $.each($.parseJSON(result), function (i, dept) {
                    $("#ddlDept").append($('<option></option>').val(dept.idDepartment).html(dept.DepartmentName))
                })
                var idcls = $('#ddlDept').find('option:selected').val()
                $("#dept-id").val(idcls);
                table.columns(4).search($('#ddlDept').find('option:selected').text());
                table.columns(5).search($('#ddSch').find('option:selected').text());
                //hit search on server
                table.draw();

            },
            error: function () {
                alert("Whooaaa! Something went wrong..")
            },
        });
    }


</script>
