﻿@model FaceCheckin.Models.DB.Student
@{
    ViewBag.Title = "Thống kê chuyên cần";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<center><img src="~/Content/Images/underConstruction.png"></center>*@
<style>
    /*Buttons to Right Side*/
    div.dt-buttons {
        float: right;
        position: relative;
        margin-left: 10px;
    }
    /*Table Info to right*/
    div.dataTables_wrapper div.dataTables_info {
        float: left;
        padding-top: 8px;
        white-space: nowrap;
    }
</style>
<dl class="dl-horizontal">
    <dt style="text-align: left; width: 130px">
        <label>Họ tên sinh viên: </label>
    </dt>
    <dd style="margin-left:0px">
        <p> @Html.DisplayFor(model => model.S_Name)</p>
    </dd>
    <dt style="text-align: left; width: 130px">
        <label>Mã số sinh viên: </label>
    </dt>
    <dd style="margin-left:0px">
        <p> @Html.DisplayFor(model => model.idStudent, new { @id = "idstd" })</p>
    </dd>
    <dt style="text-align: left; width: 130px">
        <label>Ngày sinh: </label>
    </dt>
    <dd style="margin-left:0px">
        <p> @Html.DisplayFor(model => model.S_Dob)</p>
    </dd>
    <dt style="text-align: left; width: 130px">
        <label>Số điện thoại: </label>
    </dt>
    <dd style="margin-left:0px">
        <p> @Html.DisplayFor(modelItem => modelItem.S_Phone)</p>
    </dd>
    <dt style="text-align: left; width: 130px">
        <label> Email: </label>
    </dt>
    <dd style="margin-left:0px">
        <p> @Html.DisplayFor(modelItem => modelItem.S_Email)</p>
    </dd>
</dl>
Danh sách các lớp tín chỉ đang học:
<div class="form-group">
    <label class="control-label">Năm học</label>
    <select id="ddSch" class="form-control" style="width:30%">
        @foreach (var item in ViewBag.SchList)
        {
            <text>
                <option value="@item.SchoolYear">@item.SchoolYear</option>
            </text>
        }

    </select>
</div>
<div>
    <table id="tblSummary" style="width:100%" class="table table-striped table-hover table-bordered table-responsive">
        <thead>
            <tr>
                <th>STT</th>
                <th>Mã lớp tín chỉ</th>
                <th>Tên lớp tín chỉ</th>
                <th>Số buổi vắng/ Tổng số buổi</th>
                <th>Số buổi đi trễ/Tổng số buổi có mặt</th>
            </tr>
        </thead>
    </table>
</div>
<p>
    <button class="buttonPrevious btn btn-primary" style="margin-top: 20px" onclick="goBack()">Trở về</button>
</p>
<script>
    var table;
    $(document).ready(function () {
        table = $('#tblSummary').DataTable({
            "ordering": true,
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "Tất cả"]],
            "pagingType": "full_numbers",
            "dom": 'Blrtip', // Hides Default Search
            "processing": true,
            "serverSide": true,
            "orderMulti": false,

            "ajax": {
                "url": "/Classes/getSum",
                "type": "POST",
                "datatype": "json",
                "data": {
                    id: "@Model.idStudent"
                }
            },
            "language": {
                "lengthMenu": "Hiển thị _MENU_ bản ghi trong một trang",
                "emptyTable": "Chưa có dữ liệu",
                "info": "Trang thứ _PAGE_ trong tổng số _PAGES_ trang",
                "infoEmpty": "Trống",
                "paginate": {
                    "first": "Đầu tiên",
                    "last": "Cuối cùng",
                    "next": "Trước",
                    "previous": "Sau"
                },
            },
            buttons: [
                        {
                            extend: 'copyHtml5',
                            text: '<i class="fa fa-files-o"></i>',
                            titleAttr: 'Copy'
                        },
                        {
                            extend: 'excelHtml5',
                            text: '<i class="fa fa-file-excel-o"></i>',
                            titleAttr: 'Excel',
                            title: 'Thống kê chuyên cần',
                            message: 'Thống kê chuyên cần',
                            customize: function (xlsx) {
                                var sheet = xlsx.xl.worksheets['sheet1.xml'];
                                $('row c[r*="3"]', sheet).attr('s', '25');
                            }
                        },
                        {
                            extend: 'csvHtml5',
                            text: '<i class="fa fa-file-text-o"></i>',
                            titleAttr: 'CSV',
                            title:'Thống kê chuyên cần',
                            message: 'Thống kê chuyên cần'
                        },
                        {
                            extend: 'pdfHtml5',
                            text: '<i class="fa fa-file-pdf-o"></i>',
                            titleAttr: 'PDF',
                            title: 'Thống kê chuyên cần',
                            message: 'Thống kê chuyên cần'
                        },
                        {
                            extend: 'print',
                            text: '<i class="fa fa-print"></i>',
                            titleAttr: 'PRINT',
                            title: 'Thống kê chuyên cần',
                            message: 'Thống kê chuyên cần'
                        }
            ],
            "fnDrawCallback": function (oSettings) {
                var count = $("#tblSummary").dataTable().fnSettings().aoData.length;
                if (count != 0) {
                    $(this).find('tbody tr').each(function (index) {
                        $(this).find('td').first(0).text(index + 1);
                    });
                }
            },
            "aoColumnDefs": [
                { "bSortable": false, "aTargets": [0] }
            ],
            "aaSorting": [[1, 'asc']],
            "aoColumns": [
                 {
                     "data": null, "autoWidth": true,
                     "sWidth": "30px"
                 },
                {
                    "data": "idCourse", "autoWidth": false,
                    "sWidth": "200px"
                },
                {
                    "data": "CourseName", "autoWidth": false, "mRender": function (data, type, full) {
                        var id = '"' + full['idCourse'] + '"';
                        var name = full['CourseName'];
                        return '<a href=' +
                           '@Url.Action("DetailsReport", "Course")?idStudent=' + "@Model.idStudent" + "&idCourse=" + full['idCourse'] +
                           '>' + name + '</a>';
                    }
                },
                  {
                      "data": "AbsSum", "autoWidth": false,
                      "sWidth": "100px"
                  },
                  {
                      "data": "LateSum", "autoWidth": false,
                      "sWidth": "120px"
                  },
                  {
                      "data": "SchoolYear",
                      "visible": false
                  }
            ]
        });
        table.columns(5).search($('#ddSch').find('option:selected').text());
        //hit search on server
        table.draw();
    });
    $('#ddSch').change(function () {
        table.columns(5).search($('#ddSch').find('option:selected').text());
        //hit search on server
        table.draw();
    });
    function goBack() {
        window.history.back();
    }
</script>