﻿@{
    ViewBag.Title = "Access Denied!!!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        404 Error Page
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="error-page">
        <h2 class="headline text-yellow"> 404</h2>
        <div class="error-content">
            <br />
            <h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>
            <p>
                Trang yêu cầu không tồn tại hoặc bạn không có quyền truy cập trang này.!
                Bạn có thể quay lại <a href="/Home/Index">Trang chủ</a> để tiếp tục sử dụng Website.
            </p>
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>
<!-- /.content -->
