﻿@model FaceCheckin.Models.DB.Faculty
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="MyModalTitle">Thêm mới Khoa</h4>
    </div>
<style>
    .modal .modal-dialog {
        width: 40%;
    }
</style>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "CreateFaculty" }))
    {
        @Html.AntiForgeryToken()


        <div class="modal-body">
            <div class="form-horizontal">
                <div class="form-group cus">
                    @Html.LabelFor(m => m.idFaculty, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-list-ol"></i></span>
                        @Html.TextBoxFor(m => m.idFaculty, new { @class = "form-control", @placeholder = "Mã khoa" })
                    </div>
                    @Html.ValidationMessageFor(m => m.idFaculty, "", new { @class = "text-danger" })
                </div>
                <div class="form-group cus">
                    @Html.LabelFor(m => m.FacultyName, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-align-center"></i></span>
                        @Html.TextBoxFor(m => m.FacultyName, new { @class = "form-control", @placeholder = "Tên khoa" })
                    </div>
                    @Html.ValidationMessageFor(m => m.FacultyName, "", new { @class = "text-danger" })

                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
            <input type="submit" class="btn btn-primary" value="Thêm mới" id="btnSubmit" />
        </div>
    }

<script>
    $(document).ready(function () {
        $.validator.unobtrusive.parse('#CreateFaculty');
        $("#btnSubmit").click(function () {
            if (!$("#CreateFaculty").valid()) {
                return false;
            }
        });
    });
</script>
