﻿@model FaceCheckin.Models.DB.Faculty

@{
    ViewBag.Title = "Quản lý Khoa";
    ViewBag.Header = "Danh sách Khoa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="MyModal" class="modal fade in">
    <div class="modal-dialog" s>
        <div class="modal-content">
            <div id="MyModalContent"></div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<p>
    @Html.ActionLink("Thêm mới Khoa", "Create", null, null, new { data_modal = "", id = "btnCreate", @class = "btn btn-primary" })
</p>

<div>
    <table id="tblFaculties" style="width:100%" class="table table-striped table-hover table-bordered table-responsive">
        <thead>
            <tr>
                <th>STT</th>
                <th>Mã khoa</th>
                <th>Tên khoa</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th id="tht">Mã khoa</th>
                <th id="tht">Tên khoa</th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>
<style>
    /*Buttons to Right Side*/
    div.dt-buttons {
        float: right;
        position: relative;
        margin-left: 10px;
    }
    /*Table Info to right*/
    div.dataTables_wrapper div.dataTables_info {
        float: left;
        padding-top: 8px;
        white-space: nowrap;
    }
</style>
<script>
    var table;

    $(document).ready(function () {
        $('#tblFaculties tfoot #tht').each(function () {
            var title = $(this).text();
            $(this).html('<input class="FClass form-control" style="width:inherit;" type="text" id="' + title.replace(' ', '_') + '" placeholder="Tìm kiếm theo ' + title + '" />');
        });
        table = $('#tblFaculties').DataTable({

            "ordering": true,
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "Tất cả"]],
            "pagingType": "full_numbers",

            "dom": 'Blrtip', // Hides Default Search
            //"dom": 'Bflrtip', // Default Search + Buttons
            "processing": true,
            "serverSide": true,
            "orderMulti": false,

            "ajax": {
                "url": "/Faculty/getFaculties",
                "type": "POST",
                "datatype": "json"
            },
            "language": {
                "lengthMenu": "Hiển thị _MENU_ bản ghi trong một trang",
                "emptyTable": "Chưa có dữ liệu",
                "info": "Trang thứ _PAGE_ trong tổng số _PAGES_ trang",
                "infoEmpty": "Trống",
                "paginate": {
                    "first": "Đầu tiên",
                    "last": "Cuối cùng",
                    "next": "Trước",
                    "previous": "Sau"
                },
            },
            //buttons: ['copyHtml5', 'excelHtml5', 'csvHtml5', 'pdfHtml5', 'print'],
            buttons: [
                        {
                            extend: 'copyHtml5',
                            text: '<i class="fa fa-files-o"></i>',
                            titleAttr: 'Copy',
                            exportOptions: {
                                columns: [1, 2]
                            }
                        },
                        {
                            extend: 'excelHtml5',
                            text: '<i class="fa fa-file-excel-o"></i>',
                            titleAttr: 'Xuất ra Excel',
                            title: 'Danh sách Khoa',
                            //message: 'Danh sách Khoa',
                            customize: function (xlsx) {
                                var sheet = xlsx.xl.worksheets['sheet1.xml'];

                                //$('row c[r^="C"]', sheet).attr('s', '2');//Bold All rows of a column
                                $('row c[r*="3"]', sheet).attr('s', '25');
                            },
                            exportOptions: {
                                columns: [1, 2]
                            }
                        },
                        {
                            extend: 'csvHtml5',
                            text: '<i class="fa fa-file-text-o"></i>',
                            titleAttr: 'Xuất ra CSV',
                            title: 'Danh sách Khoa',
                            //message: 'Danh sách Khoa',
                            exportOptions: {
                                columns: [1, 2]
                            }
                        },
                        {
                            extend: 'pdfHtml5',
                            text: '<i class="fa fa-file-pdf-o"></i>',
                            titleAttr: 'Xuất ra PDF',
                            title: 'Danh sách Khoa',
                            //message: 'Danh sách Khoa',
                            exportOptions: {
                                columns: [1, 2]
                            }
                        },
                        {
                            extend: 'print',
                            text: '<i class="fa fa-print"></i>',
                            titleAttr: 'PRINT',
                            title: 'Danh sách Khoa',
                            //message: 'Danh sách Khoa',
                            exportOptions: {
                                columns: [1, 2]
                            }
                        }
            ],
            "fnDrawCallback": function (oSettings) {
                var count = $("#tblFaculties").dataTable().fnSettings().aoData.length;
                if (count != 0) {
                    $(this).find('tbody tr').each(function (index) {
                        $(this).find('td').first(0).text(index + 1);
                    });
                }
            },
            "aoColumnDefs": [
                { "bSortable": false, "aTargets": [0] }
            ],
            "aaSorting": [[1, 'asc']],
            "aoColumns": [
                 {
                     "data": null, "autoWidth": false,
                     "sWidth": "100px"
                 },
                {
                    "data": "idFaculty", "autoWidth": false,
                    "sWidth": "200px"
                },
                {
                    "data": "FacultyName", "autoWidth": false, "sWidth": "400px", "mRender": function (data, type, full) {
                        var id = '"' + full['idFaculty'] + '"';
                        var name = full['FacultyName'];
                        return '<a href=' +
                           '@Url.Action("Details", "Faculty")/' + full['idFaculty'] +
                           '>' + name + '</a>';
                    }
                },
                {
                    "data": null,
                    "targets": -1,
                    "render": function (data, type, full) {
                        // console.log(data,type,full);
                        return "<a  onclick='Edit(" + '"' + full['idFaculty'] + '"' + ")' id='btnEdit" + "`" + full['idFaculty'] + "`" + "' class='btn btn-success btn-xs'>Chỉnh sửa</i></a>";
                    },
                    "bSearchable": true,
                    "sortable": false,
                    "autoWidth": false,
                    "sWidth": "50px"
                },
          {
              "data": null,
              "targets": -1,
              "render": function (data, type, full) {
                  // console.log(data,type,full);
                  return " <a onclick='Delete(" + '"' + full['idFaculty'] + '"' + ")' class='btn btn-danger btn-xs'>Xóa</a>";
              },
              "bSearchable": true,
              "sortable": false,
              "autoWidth": false,
              "sWidth": "30px"
          }
            ]
        });
        table.columns().every(function () {
            var that = this;
            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
    });

    var Edit = function (idFaculty) {
        $.ajaxSetup({ cache: false });
        var EditUrl = "/Faculty/Edit/" + idFaculty;
        $("#MyModalContent").load(EditUrl, function () {
            $("#MyModal").modal({
                //backdrop: 'static',
                keyboard: false
            }, 'show');
            bindForm(this);
        });
        return false;
    }

    //#region Delete

    var Delete = function (idFaculty) {
        var Msg = "";
        $.ajax({
            url: "/Faculty/getFacuDetails",
            type: "GET",
            data: { id: idFaculty },
            success: function (result) {
                console.log(idFaculty);
                Msg = "Tên khoa : <b>" + result[0].FacultyName + "</b>";


                bootbox.confirm({
                    title: "Xác nhận xóa Khoa:",
                    message: Msg,
                    buttons: {
                        confirm: {
                            label: 'Xóa',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'Đóng',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            deleteConfirmed(idFaculty);
                        }
                    }
                });

            },
            error: function (error) {
                console.log(error);
                alert(error)
            }
        });
    }

    var deleteConfirmed = function (idFaculty) {
        $.ajax({
            url: "/Faculty/deleteConfirmed",
            type: "GET",
            data: { id: idFaculty },
            success: function (result) {

                toastr.success(result + '!');
                table.draw();
            },
            error: function (error) {
                console.log(error);
                alert(error)
            }
        });

    }

    //#endregion Delete

</script>


