﻿@model FaceCheckin.Models.DB.Department
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="MyModalTitle">Thêm mới Bộ môn</h4>
</div>
<style>
    .modal .modal-dialog {
        width: 40%;
    }
</style>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "CreateDepartment" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-body">

        <div class="form-horizontal">
            @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
            <div class="form-group cus">
                <label class="control-label">Thuộc khoa</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-sitemap"></i></span>
                    @Html.TextBoxFor(m => m.FacultyName, new { @class = "form-control", @id = "clss", @readonly = true })
                </div>
                @Html.ValidationMessageFor(m => m.FacultyName, "", new { @class = "text-danger" })

            </div>
            @Html.HiddenFor(m => m.idFaculty)

            <div class="form-group cus">
                @Html.LabelFor(m => m.idDepartment, htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-list-ol"></i></span>
                    @Html.TextBoxFor(m => m.idDepartment, new { @class = "form-control", @placeholder = "Mã bộ môn" })
                </div>
                @Html.ValidationMessageFor(m => m.idDepartment, "", new { @class = "text-danger" })

            </div>

            <div class="form-group cus">
                @Html.LabelFor(m => m.DepartmentName, htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-align-center"></i></span>
                    @Html.TextBoxFor(m => m.DepartmentName, new { @class = "form-control", @placeholder = "Tên bộ môn" })
                </div>
                @Html.ValidationMessageFor(m => m.DepartmentName, "", new { @class = "text-danger" })

            </div>

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
        <input type="submit" class="btn btn-primary" value="Thêm mới" id="btnSubmit" />
    </div>
}

<script>
    $(document).ready(function () {
        $.validator.unobtrusive.parse('#CreateDepartment');
        $("#btnSubmit").click(function () {
            if (!$("#CreateDepartment").valid()) {
                return false;
            }
        });
    });
</script>
