﻿@model FaceCheckin.Models.ViewModels.DeptVM
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="MyModalTitle">Chỉnh sửa thông tin Bộ môn</h4>
</div>
<style>
    .modal .modal-dialog {
        width: 40%;
    }
   
</style>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "EditDepartment" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-body">
        <div class="form-horizontal">
            @Html.HiddenFor(m => m.Department.idFaculty)
            @*<div class="form-group cus" style="display: none">
                @Html.LabelFor(m => m.Department.idFaculty, htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-sitemap"></i></span>
                    @Html.DropDownListFor(m => m.Department.idFaculty, new SelectList(Model.Faculties, "idFaculty", "FacultyName"),
          htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Department.idFaculty, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="form-group cus">
                @Html.LabelFor(m => m.Department.idDepartment, new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-list-ol"></i></span>
                    @Html.TextBoxFor(m => m.Department.idDepartment, new { @class = "form-control", @placeholder = "Mã bộ môn", @readonly = true })
                </div>
                @Html.ValidationMessageFor(m => m.Department.idDepartment)

            </div>
            <div class="form-group cus">
                @Html.LabelFor(m => m.Department.DepartmentName, htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-align-center"></i></span>
                    @Html.TextBoxFor(m => m.Department.DepartmentName, new { @class = "form-control", @placeholder = "Tên bộ môn" })
                </div>
                @Html.ValidationMessageFor(m => m.Department.DepartmentName, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
        <input type="submit" class="btn btn-primary" value="Lưu thay đổi" id="btnSubmit" />
    </div>
}

<script>
    $(document).ready(function () {
        $.validator.unobtrusive.parse('#EditDepartment');
        $("#btnSubmit").click(function () {
            if (!$("#EditDepartment").valid()) {
                return false;
            }
        });
    });
</script>
