﻿@model FaceCheckin.Models.DB.Department

@{
    ViewBag.Header = "Danh sách các Lớp thuộc Bộ môn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /*Buttons to Right Side*/
    div.dt-buttons {
        float: right;
        position: relative;
        margin-left: 10px;
    }
    /*Table Info to right*/
    div.dataTables_wrapper div.dataTables_info {
        float: left;
        padding-top: 8px;
        white-space: nowrap;
    }
</style>
<dl class="dl-horizontal" style="margin-bottom:0px">
    <dt style="text-align: left; width: 90px">
        <label>Tên Bộ môn: </label>
    </dt>
    <dd style="margin-left:0px">
        <p> @Html.DisplayFor(model => model.DepartmentName, new { @id = "idstd" })</p>
    </dd>
</dl>
<div class="form-group">
    <label class="control-label">Năm học</label>
    <select id="ddSch" class="form-control" style="width:30%">
        @foreach (var item in ViewBag.SchList)
        {
            <text>
                <option value="@item.SchoolYear">@item.SchoolYear</option>
            </text>
        }

    </select>
</div>
<div>
    <table id="tblClasses" style="width:100%" class="table table-striped table-hover table-bordered table-responsive">
        <thead>
            <tr>
                <th>STT</th>
                <th>Mã lớp</th>
                <th>Tên lớp</th>
                <th>Giảng viên cố vấn</th>
                <th>Năm học</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th id="tht">Mã lớp</th>
                <th id="tht">Tên lớp</th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>
<p>
    <button class="buttonPrevious btn btn-primary" style="margin-top: 20px" onclick="goBack()">Trở về</button>
</p>
<script>
    var table;
    $(document).ready(function () {
        $('#tblClasses tfoot #tht').each(function () {
            var title = $(this).text();
            $(this).html('<input class="FClass form-control" style="width:inherit;" type="text" id="' + title.replace(' ', '_') + '" placeholder="Tìm kiếm theo ' + title + '" />');
        });
        table = $('#tblClasses').DataTable({
            "ordering": true,
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "Tất cả"]],
            "pagingType": "full_numbers",
            "dom": 'Blrtip', // Hides Default Search
            "processing": true,
            "serverSide": true,
            "orderMulti": false,

            "ajax": {
                "url": "/Department/getDetails",
                "type": "POST",
                "datatype": "json",
                "data": {
                    id: "@Model.idDepartment"
                }
            },
            "language": {
                "lengthMenu": "Hiển thị _MENU_ bản ghi trong một trang",
                "emptyTable": "Chưa có dữ liệu",
                "info": "Trang thứ _PAGE_ trong tổng số _PAGES_ trang",
                "infoEmpty": "Trống",
                "paginate": {
                    "first": "Đầu tiên",
                    "last": "Cuối cùng",
                    "next": "Trước",
                    "previous": "Sau"
                },
            },
            buttons: [
                        {
                            extend: 'copyHtml5',
                            text: '<i class="fa fa-files-o"></i>',
                            titleAttr: 'Copy'
                        },
                        {
                            extend: 'excelHtml5',
                            text: '<i class="fa fa-file-excel-o"></i>',
                            titleAttr: 'Excel',
                            title: 'Danh sách các Lớp thuộc Bộ môn',
                            customize: function (xlsx) {
                                var sheet = xlsx.xl.worksheets['sheet1.xml'];
                                $('row c[r*="3"]', sheet).attr('s', '25');
                            }
                        },
                        {
                            extend: 'csvHtml5',
                            text: '<i class="fa fa-file-text-o"></i>',
                            titleAttr: 'CSV',
                            title: 'Danh sách các Lớp thuộc Bộ môn'
                        },
                        {
                            extend: 'pdfHtml5',
                            text: '<i class="fa fa-file-pdf-o"></i>',
                            titleAttr: 'PDF',
                            title: 'Danh sách các Lớp thuộc Bộ môn'
                        },
                        {
                            extend: 'print',
                            text: '<i class="fa fa-print"></i>',
                            titleAttr: 'PRINT',
                            title: 'Danh sách các Lớp thuộc Bộ môn'
                        }
            ],
            "fnDrawCallback": function (oSettings) {
                var count = $("#tblClasses").dataTable().fnSettings().aoData.length;
                if (count != 0) {
                    $(this).find('tbody tr').each(function (index) {
                        $(this).find('td').first(0).text(index + 1);
                    });
                }
            },
            "aoColumnDefs": [
                { "bSortable": false, "aTargets": [0] }
            ],
            "aaSorting": [[1, 'asc']],
            "aoColumns": [
                 {
                     "data": null, "autoWidth": true,
                     "sWidth": "50px"
                 },
                {
                    "data": "idClass", "autoWidth": false,
                    "sWidth": "250px"
                },
               {
                   "data": "ClassName", "autoWidth": false, "mRender": function (data, type, full) {
                       var id = '"' + full['idClass'] + '"';
                       var name = full['ClassName'];
                       return '<a href=' +
                          '@Url.Action("Details", "Classes")/' + full['idClass'] +
                          '>' + name + '</a>';
                   }
               },
                {
                    "data": "I_Name", "autoWidth": false, "mRender": function (data, type, full) {
                        var id = '"' + full['idInstructor'] + '"';
                        var name = full['I_Name'];
                        return '<a href=' +
                           '@Url.Action("Details", "Instructor")/' + full['idInstructor'] +
                           '>' + name + '</a>';
                    }
                },
                {
                    "data": "SchoolYear",
                    "visible": false
                }
            ]
        });
        table.columns().every(function () {
            var that = this;
            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
        table.columns(4).search($('#ddSch').find('option:selected').text());
        //hit search on server
        table.draw();
    });
    $('#ddSch').change(function () {
        table.columns(4).search($('#ddSch').find('option:selected').text());
        //hit search on server
        table.draw();
    });
    function goBack() {
        window.history.back();
    }
</script>