﻿@model FaceCheckin.Models.ViewModels.DeptVM

@{
    ViewBag.Title = "Quản lý Bộ môn";
    ViewBag.Header = "Danh sách Bộ môn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="MyModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="MyModalContent"></div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Department.idFaculty, htmlAttributes: new { @class = "control-label" })
    @Html.DropDownListFor(m => m.Department.idFaculty, new SelectList(Model.Faculties, "idFaculty", "FacultyName"),
                            htmlAttributes: new { @class = "form-control", @id = "ddlFacu", style = "width:30%" })
    @Html.ValidationMessageFor(m => m.Department.idFaculty, "", new { @class = "text-danger" })
</div>
@if (User.IsInRole("Admin") || User.IsInRole("Trưởng khoa"))
{
    @*<p>
        @Html.ActionLink("Thêm mới Bộ môn", "Create", null, null, new { data_modal = "", id = "btnCreate", @class = "btn btn-primary" })
    </p>*@
    <p>
        <button id="btncr" title="Thêm mới Bộ môn" class="btn btn-primary" style="text-align:right">&nbsp;&nbsp;Thêm mới Bộ môn</button>
    </p>
}
<input type="hidden" id="facu-id" />
<div>
    <table id="tblDepartments" style="width:100%" class="table table-striped table-hover table-bordered table-responsive">
        <thead>
            <tr>
                <th>STT</th>
                <th>Mã bộ môn</th>
                <th>Tên bộ môn</th>
                <th>Thuộc khoa</th>
                <th></th>
                <th></th>
                @*<th>Chi tiết</th>*@
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th id="tht">Mã bộ môn</th>
                <th id="tht">Tên bộ môn</th>
                <th></th>
                <th></th>
                <th></th>
                @*<th></th>*@
            </tr>
        </tfoot>
    </table>
</div>
<style>
    /*Buttons to Right Side*/
    div.dt-buttons {
        float: right;
        position: relative;
        margin-left: 10px;
    }
    /*Table Info to right*/
    div.dataTables_wrapper div.dataTables_info {
        float: left;
        padding-top: 8px;
        white-space: nowrap;
    }
</style>
<script>
    var table;
    var RoleCheck = @(User.IsInRole("Admin")? "true" : "false")
    $(document).ready(function () {
        document.onreadystatechange = function () {
            var idcls = $('#ddlFacu').find('option:selected').val()
            $("#facu-id").val(idcls);
            table.columns(3).search($('#ddlFacu').find('option:selected').text());
            //hit search on server
            table.draw();
        };
        $('#tblDepartments tfoot #tht').each(function () {
            var title = $(this).text();
            $(this).html('<input class="FClass form-control" style="width:inherit;" type="text" id="' + title.replace(' ', '_') + '" placeholder="Tìm kiếm theo ' + title + '" />');
        });
        table = $('#tblDepartments').DataTable({
            "ordering": true,
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "Tất cả"]],
            "pagingType": "full_numbers",
            "dom": 'Blrtip', // Hides Default Search
            //"dom": 'Bflrtip', // Default Search + Buttons
            "processing": true,
            "serverSide": true,
            "orderMulti": false,

            "ajax": {
                "url": "/Department/getDepartments",
                "type": "POST",
                "datatype": "json"
            },
            "language": {
                "lengthMenu": "Hiển thị _MENU_ bản ghi trong một trang",
                "emptyTable": "Chưa có dữ liệu",
                "info": "Trang thứ _PAGE_ trong tổng số _PAGES_ trang",
                "infoEmpty": "Trống",
                "paginate": {
                    "first": "Đầu tiên",
                    "last": "Cuối cùng",
                    "next": "Trước",
                    "previous": "Sau"
                },
            },
            //buttons: ['copyHtml5', 'excelHtml5', 'csvHtml5', 'pdfHtml5', 'print'],
            buttons: [
                        {
                            extend: 'copyHtml5',
                            text: '<i class="fa fa-files-o"></i>',
                            titleAttr: 'Copy'
                        },
                        {
                            extend: 'excelHtml5',
                            text: '<i class="fa fa-file-excel-o"></i>',
                            titleAttr: 'Xuất ra Excel',
                            title: 'Danh sách Bộ môn',
                            customize: function (xlsx) {
                                var sheet = xlsx.xl.worksheets['sheet1.xml'];

                                //$('row c[r^="C"]', sheet).attr('s', '2');//Bold All rows of a column
                                $('row c[r*="3"]', sheet).attr('s', '25');
                            },
                            exportOptions: {
                                columns: [1, 2, 3]
                            }
                        },
                        {
                            extend: 'csvHtml5',
                            text: '<i class="fa fa-file-text-o"></i>',
                            titleAttr: 'Xuất ra CSV',
                            title: 'Danh sách Bộ môn',
                            exportOptions: {
                                columns: [1, 2, 3]
                            }
                        },
                        {
                            extend: 'pdfHtml5',
                            text: '<i class="fa fa-file-pdf-o"></i>',
                            titleAttr: 'Xuất ra PDF',
                            title: 'Danh sách Bộ môn',
                            exportOptions: {
                                columns: [1, 2, 3]
                            }
                        },
                        {
                            extend: 'print',
                            text: '<i class="fa fa-print"></i>',
                            titleAttr: 'PRINT',
                            title: 'Danh sách Bộ môn',
                            exportOptions: {
                                columns: [1, 2, 3]
                            }
                        }
            ],
            "fnDrawCallback": function (oSettings) {
                var count = $("#tblDepartments").dataTable().fnSettings().aoData.length;
                if (count != 0) {
                    $(this).find('tbody tr').each(function (index) {
                        $(this).find('td').first(0).text(index + 1);
                    });
                }
            },
            "aoColumnDefs": [
                { "bSortable": false, "aTargets": [0] }
            ],
            "aaSorting": [[1, 'asc']],
            "aoColumns": [
                 {
                     "data": null, "autoWidth": false,
                     "sWidth": "100px"
                 },
                {
                    "data": "idDepartment", "autoWidth": false,
                    "sWidth": "200px"
                },
                {
                    "data": "DepartmentName", "autoWidth": true, "mRender": function (data, type, full) {
                        var id = '"' + full['idDepartment'] + '"';
                        var name = full['DepartmentName'];
                        return '<a href=' +
                           '@Url.Action("Details", "Department")/' + full['idDepartment'] +
                           '>' + name + '</a>';
                    }
                },
              {
                  "data": "FacultyName", "autoWidth": false,
                  "sWidth": "200px"
              },
            {
                "data": null,
                "targets": -1,
                "render": function (data, type, full) {
                    // console.log(data,type,full);
                    return "<a  onclick='Edit(" + '"' + full['idDepartment'] + '"' + ")' id='btnEdit" + "`" + full['idDepartment'] + "`" + "' class='btn btn-success btn-xs'>Chỉnh sửa</a>";
                },
                "bSearchable": true,
                "sortable": false,
                "autoWidth": false,
                "sWidth": "50px"
            },
            {
                "data": null,
                "targets": -1,
                "render": function (data, type, full) {
                    // console.log(data,type,full);
                    return " <a onclick='Delete(" + '"' + full['idDepartment'] + '"' + ")' class='btn btn-danger btn-xs'>Xóa</a>";
                },
                "bSearchable": true,
                "sortable": false,
                "autoWidth": false,
                "sWidth": "30px", "visible": RoleCheck
            }
            ]
        });

        //document.onreadystatechange = $('#ddlFacu').change(function () {
        //    //  if ($('#ddlFacu').find('option:selected').text() != "-- Chọn khoa --") {
        //    table.columns(3).search($('#ddlFacu').find('option:selected').text());
        //    //hit search on server
        //    table.draw();
        //    //}
        //    //else {
        //    //    table.columns(3).search($('#ddlFacu').val().trim());
        //    //    table.draw();
        //    //}
        //});

        table.columns().every(function () {
            var that = this;
            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
    });
    $('#ddlFacu').change(function () {
        var idcls = $('#ddlFacu').find('option:selected').val()
        $("#facu-id").val(idcls);
        table.columns(3).search($('#ddlFacu').find('option:selected').text());
        //hit search on server
        table.draw();
    });
    $("#btncr").click(function () {
        var productId = $("#facu-id").val();
        var url = '@Url.Action("Create", "Department", new { parameterID = "-1" })';
        url = url.replace("-1", productId);
        $("#MyModalContent").load(url, function () {
            $("#MyModal").modal({
                keyboard: false
            }, 'show');
            bindForm(this);
        });
        return false;
    });
    var Edit = function (idDepartment) {
        $.ajaxSetup({ cache: false });
        var EditUrl = "/Department/Edit/" + idDepartment;
        $("#MyModalContent").load(EditUrl, function () {
            $("#MyModal").modal({
                //backdrop: 'static',
                keyboard: false
            }, 'show');
            bindForm(this);
        });
        return false;
    }

    //#region Delete

    var Delete = function (idDepartment) {
        var Msg = "";
        $.ajax({
            url: "/Department/getDeptDetails",
            type: "GET",
            data: { id: idDepartment },
            success: function (result) {
                // console.log(idFaculty);
                Msg = "Tên bộ môn : <b>" + result[0].DepartmentName + "</b>";


                bootbox.confirm({
                    title: "Xác nhận xóa Bộ môn:",
                    message: Msg,
                    buttons: {
                        confirm: {
                            label: 'Xóa',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'Đóng',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            deleteConfirmed(idDepartment);
                        }
                    }
                });

            },
            error: function (error) {
                console.log(error);
                alert(error)
            }
        });
    }

    var deleteConfirmed = function (idDepartment) {
        $.ajax({
            url: "/Department/deleteConfirmed",
            type: "GET",
            data: { id: idDepartment },
            success: function (result) {

                toastr.success(result + '!');
                table.draw();
            },
            error: function (error) {
                console.log(error);
                alert(error)
            }
        });

    }

    //#endregion Delete

</script>
