﻿@model FaceCheckin.Models.DB.Instructor
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="MyModalTitle">Thêm mới Giảng viên</h4>
</div>
<style>
    .modal .modal-dialog {
        width: 40%;
    }
</style>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "CreateInstructor" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-body">

        <div class="form-horizontal">
            <div class="form-group cus">
                <label class="control-label">Thuộc bộ môn</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-list-alt"></i></span>
                    @Html.TextBoxFor(m => m.DepartmentName, new { @class = "form-control", @id = "clss", @readonly = true })
                </div>
                @Html.ValidationMessageFor(m => m.DepartmentName, "", new { @class = "text-danger" })

            </div>
            @Html.HiddenFor(m => m.I_idDepartment)
            <div class="form-group cus">
                @Html.LabelFor(m => m.idInstructor, htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-list-ol"></i></span>
                    @Html.TextBoxFor(m => m.idInstructor, new { @class = "form-control", @placeholder = "Mã giảng viên" })
                </div>
                @Html.ValidationMessageFor(m => m.idInstructor, "", new { @class = "text-danger" })

            </div>

            <div class="form-group cus">
                @Html.LabelFor(m => m.I_Name, htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-align-center"></i></span>
                    @Html.TextBoxFor(m => m.I_Name, new { @class = "form-control", @placeholder = "Tên giảng viên" })
                </div>
                @Html.ValidationMessageFor(m => m.I_Name, "", new { @class = "text-danger" })

            </div>
            <div class="form-group cus">
                @Html.LabelFor(m => m.I_Email, htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                    @Html.TextBoxFor(m => m.I_Email, new { @class = "form-control", @placeholder = "Email" })
                </div>
                @Html.ValidationMessageFor(m => m.I_Email, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.I_Phone, htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                    @Html.TextBoxFor(m => m.I_Phone, new { @class = "form-control", @placeholder = "Số điện thoại" })
                </div>
                @Html.ValidationMessageFor(m => m.I_Phone, "", new { @class = "text-danger" })

            </div>
            </div>
        </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
        <input type="submit" class="btn btn-primary" value="Thêm mới" id="btnSubmit" />
    </div>
}

<script>
    $(document).ready(function () {
        $.validator.unobtrusive.parse('#CreateInstructor');
        $("#btnSubmit").click(function () {
            if (!$("#CreateInstructor").valid()) {
                return false;
            }
        });
    });
   
</script>