﻿@model FaceCheckin.Models.ViewModels.InstructorViewModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="MyModalTitle">Chỉnh sửa thông tin Giảng viên</h4>
</div>
<style>
    .modal .modal-dialog {
        width: 40%;
    }
</style>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "EditInstructor" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-body">
        <div class="form-horizontal">
            @Html.HiddenFor(m => m.Instructor.idInstructor)

            @*<div class="form-group cus">
                <label class="control-label">Thuộc bộ môn</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-list-alt"></i></span>
                    @Html.DropDownListFor(model => model.Instructor.I_idDepartment, (SelectList)ViewBag.DeptList, new { @class = "form-control", @id = "ddlDept", @onchange = "getInsList()", @disabled = "disabled" })
                </div>
                </div>*@
      
            <div class="form-group cus">
                @Html.LabelFor(m => m.Instructor.idInstructor, new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-list-ol"></i></span>
                    @Html.TextBoxFor(m => m.Instructor.idInstructor, new { @class = "form-control", @placeholder = "Mã giảng viên", @readonly = true })
                </div>
                @Html.ValidationMessageFor(m => m.Instructor.idInstructor)

            </div>

            <div class="form-group cus">
                @Html.LabelFor(m => m.Instructor.I_Name, htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-align-center"></i></span>
                    @Html.TextBoxFor(m => m.Instructor.I_Name, new { @class = "form-control", @placeholder = "Tên giảng viên" })
                </div>
                @Html.ValidationMessageFor(m => m.Instructor.I_Name, "", new { @class = "text-danger" })

            </div>
            <div class="form-group cus">
                @Html.LabelFor(m => m.Instructor.I_Email, htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                    @Html.TextBoxFor(m => m.Instructor.I_Email, new { @class = "form-control", @placeholder = "Email", @type = "email"})
                </div>
                @Html.ValidationMessageFor(m => m.Instructor.I_Email, "", new { @class = "text-danger" })

            </div>
            <div class="form-group cus">
                @Html.LabelFor(m => m.Instructor.I_Phone, htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                    @Html.TextBoxFor(m => m.Instructor.I_Phone, new { @class = "form-control", @placeholder = "Số điện thoại" })
                </div>
                @Html.ValidationMessageFor(m => m.Instructor.I_Phone, "", new { @class = "text-danger" })

            </div>
        </div>
        </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
        <input type="submit" class="btn btn-primary" value="Lưu thay đổi" id="btnSubmit" />
    </div>
}

<script>
    $(document).ready(function () {
        $.validator.unobtrusive.parse('#EditInstructor');
        $("#btnSubmit").click(function () {
            if (!$("#EditInstructor").valid()) {
                return false;
            }
        });
    });
</script>
