﻿@model FaceCheckin.Models.DB.Instructor

@{
    ViewBag.Header = "Danh sách các lớp đang đứng hiện tại";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<dl class="dl-horizontal">
    <dt style="text-align: left; width: 90px">
        Giảng viên:
    </dt>

    <dd style="margin-left:0px">
        @Html.DisplayFor(model => model.I_Name)
    </dd>

</dl>
<h3>Lớp sinh hoạt</h3>
<div>
    <table class="table table-striped table-hover table-bordered table-responsive">
        <tr>
            <th>
                STT
            </th>
            <th>
                Mã Lớp sinh hoạt
            </th>
            <th>
                Tên Lớp sinh hoạt
            </th>
            <th>
                Thuộc bộ môn
            </th>
            <th>
                Năm học
            </th>
            @foreach (var item in Model.Classes.Select((item, index) => new { item, index }))
            {
            <tr>
                <td>
                    @(item.index + 1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.item.idClass)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.item.ClassName)*@
                    @Html.ActionLink(item.item.ClassName, "Details", "Classes", new { id = item.item.idClass }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.item.Department.DepartmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.item.SchoolYear)
                </td>
            </tr>
            }
        </table>
    </div>
    <hr />
    <h3>Lớp tín chỉ</h3>
    <div>
        @*<dl class="dl-horizontal">
                <dt>
                    Giảng viên:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.I_Name)
                </dd>

            </dl>*@
        <table class="table table-striped">
            <tr>
                <th>
                    STT
                </th>
                <th>
                    Mã Lớp TC
                </th>
                <th>
                    Tên Lớp TC
                </th>
                <th>
                    Ngày bắt đầu
                </th>
                <th>
                    Ngày kết thúc
                </th>
                <th>
                    Năm học
                </th>
                @foreach (var item in Model.Courses.Select((item, index) => new { item, index }))
                {
                <tr>
                    <td>
                        @(item.index + 1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.item.idCourse)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.item.CourseName)*@
                        @Html.ActionLink(item.item.CourseName, "Details", "Course", new { id = item.item.idCourse }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.item.SchoolYear)
                    </td>
                </tr>
                }
            </table>
        </div>
        <p>
            <button class="buttonPrevious btn btn-primary" style="margin-top: 20px" onclick="goBack()">Trở về</button>
          @*  @Html.ActionLink("Trở về", "Index", null, new { @class = "buttonPrevious btn btn-primary" })*@
        </p>
<script>
    function goBack() {
        window.history.back();
    }
</script>